<div style="margin-top: 30px">
  <button mat-button (click)="save()">
    <mat-icon>save</mat-icon> Save and close
  </button>
  <button mat-button (click)="close()">
    <mat-icon>clear</mat-icon> Close (without saving again)
  </button>
</div>

<h5>App:</h5>
{{ input.app.type + ' ' + input.app.hash }}

<h5>Query Name:</h5>
{{ input.query.title }}

<h5>Chosen inputs:</h5>
<span *ngFor="let input of chosenInputs" >
{{ input }}
</span>

<div *ngIf="abstractResponse" style="margin-top: 30px">
  <app-response-tree
    (sendMappingBackToQueryAppInputMap)="updateQueryAppInputMaping($event)"
    [chosenInputs]="chosenInputs"
    [queryResponse]="abstractResponse" >
  </app-response-tree>
</div>
