<h1 mat-dialog-title>Einstellungen</h1>

<mat-tab-group>
  <mat-tab label="Profil">
    <form [formGroup]="profileForm" (ngSubmit)="save()">
      <div class="setting" (keydown)="resetErrorProfile()">
        <div class="error" *ngIf="errorProfile">
          {{errorProfileMessage}}
        </div>

        <div>
          <mat-form-field class="full-width">
            <input formControlName="email" matInput name="email" placeholder="Email">
          </mat-form-field>
        </div>
        <div class="error-validation" *ngIf="profileForm.get('email').hasError('required') && profileForm.get('email').touched">
          Bitte geben Sie ihre Email ein!
        </div>
        <div class="error-validation" *ngIf="profileForm.get('email').hasError('pattern') && profileForm.get('email').touched">
          Ihre Email ist ungültig!
        </div>

        <div>
          <mat-form-field class="full-width">
            <input formControlName="firstname" matInput name="firstName" placeholder="Vorname">
          </mat-form-field>
        </div>
        <div class="error-validation" *ngIf="profileForm.get('firstname').hasError('required') && profileForm.get('firstname').touched">
          Bitte geben Sie ihren Vornamen ein!
        </div>

        <div>
          <mat-form-field class="full-width">
            <input formControlName="lastname" matInput name="lastName" placeholder="Nachname">
          </mat-form-field>
        </div>
        <div class="error-validation" *ngIf="profileForm.get('lastname').hasError('required') && profileForm.get('lastname').touched">
          Bitte geben Sie ihren Nachnamen ein!
        </div>

        <mat-slide-toggle [formControl]="profileForm.get('newsletter')" name="newsletter">Newsletter</mat-slide-toggle>
      </div>

      <button mat-button type="button" (click)="close()">Schliessen</button>
      <button type="submit" [disabled]="profileForm.invalid" mat-button>Abspeichern</button>
    </form>
  </mat-tab>

  <mat-tab label="Profil Foto">
    <form [formGroup]="profileFotoForm" (ngSubmit)="changeProfilePic()">
      <div class="form-group" >
        <!--label for="profilePic">Profile Picture</label-->
        <input type="file" class="form-control" name="profilePic" #filePicker (change)="onProfilePicSelected($event)" style="visibility: hidden;height: 0px">
        <!--button mat-menu-item (click)="filePicker.click();" >
          <mat-icon>perm_identity</mat-icon>
        </button-->
        <img [src]="imagePreview" (click)="filePicker.click();" style="display: inline-block;border-radius: 50%;width:50px;height: 50px;vertical-align: middle;" *ngIf="imagePreview!=='' && imagePreview">
      </div>

      <button mat-button type="button" (click)="close()">Schliessen</button>
      <button type="submit" mat-button>Abspeichern</button>
    </form>
  </mat-tab>

  <mat-tab label="Passwort">
    <form [formGroup]="pwdForm" (ngSubmit)="changePwd()">
      <div class="setting" (keydown)="resetErrorPwd()">
        <div class="error" *ngIf="errorPwd">
          {{errorPwdMessage}}
        </div>

        <div>
          <mat-form-field class="full-width">
            <input formControlName="oldpwd" matInput name="oldPwd" placeholder="Altes Passwort" type="password">
          </mat-form-field>
        </div>
        <div class="error-validation" *ngIf="pwdForm.get('oldpwd').hasError('required') && pwdForm.get('oldpwd').touched">
          Bitte geben Sie ihr Passwort ein!
        </div>
        <p>The password should include at least</p>
        <ul>
          <li>
            an upper-case letter (A-Z)
          </li>
          <li>
            a lower-case letter (a-z)
          </li>
          <li>
            a number (0-9)
          </li>
          <li>
            one character of the following group: {{ neededSpecialCharacters }}
          </li>
          <li>
            and has to be at least 9 characters long
          </li>
        </ul>

        <div>
          <mat-form-field class="full-width">
            <input formControlName="newpwd1" matInput name="newPwd1" placeholder="Neues Passwort" type="password">
          </mat-form-field>
        </div>
        <div class="error-validation" *ngIf="pwdForm.get('newpwd1').hasError('required') && pwdForm.get('newpwd1').touched">
          Bitte geben Sie ein neues Passwort ein!
        </div>
        <div class="error-validation" *ngIf="pwdForm.get('newpwd1').hasError('minlength') && pwdForm.get('newpwd1').touched">
          Minimum 4 Zeichen!
        </div>

        <div>
          <mat-form-field class="full-width">
            <input formControlName="newpwd2" matInput name="newPwd2" placeholder="Wiederholung neues Passwort" type="password">
          </mat-form-field>
        </div>
        <div class="error-validation" *ngIf="pwdForm.get('newpwd2').hasError('required') && pwdForm.get('newpwd2').touched">
          Wiederholen Sie Ihr neues Passwort!
        </div>
        <div class="error-validation" *ngIf="pwdForm.get('newpwd2').hasError('minlength') && pwdForm.get('newpwd2').touched">
          Minimum 4 Zeichen!
        </div>

        <p *ngIf="wrongFormatAlert" style="color: darkred" >The chosen password does not follow the requirements.</p>

      </div>

      <button mat-button type="button" (click)="close()">Schliessen</button>
      <button type="submit" mat-button [disabled]="pwdForm.invalid">Abspeichern</button>
    </form>
  </mat-tab >

  <mat-tab label="Konto löschen">
    <form [formGroup]="deleteAccount" (ngSubmit)="delete()">
      <div class="setting" (keydown)="resetErrorProfile()">

        <h4>Sind Sie sicher, dass Sie Ihr Konto löschen möchten?</h4>

        <div>
          <mat-form-field class="full-width">
            <input formControlName="email" matInput name="email" placeholder="Email">
          </mat-form-field>
        </div>
        <div class="error-validation" *ngIf="profileForm.get('email').hasError('required') && profileForm.get('email').touched">
          Bitte geben Sie ihre Email ein!
        </div>
        <div class="error-validation" *ngIf="profileForm.get('email').hasError('pattern') && profileForm.get('email').touched">
          Ihre Email ist ungültig!
        </div>
        <div>
          <mat-form-field class="full-width">
            <input formControlName="oldpwd" matInput name="oldPwd" placeholder="Passwort" type="password">
          </mat-form-field>
        </div>
        <div class="error-validation" *ngIf="deleteAccount.get('oldpwd').hasError('required') && deleteAccount.get('oldpwd').touched">
          Bitte geben Sie ihr Passwort ein!
        </div>
          <div>
            <mat-form-field class="full-width">
              <input formControlName="oldpwd" matInput name="oldPwd" placeholder="Passwort erneut eingeben" type="password">
            </mat-form-field>
          </div>
          <div class="error-validation" *ngIf="deleteAccount.get('oldpwd').hasError('required') && deleteAccount.get('oldpwd').touched">
            Bitte geben Sie ihr Passwort ein!
          </div>
        <button mat-button type="button" (click)="close()">Schliessen</button>
        <button mat-button [disabled]="deleteAccount.invalid">Löschen des Userkontos</button>
      </div>
    </form>
  </mat-tab>


</mat-tab-group>
