<nav id="mainNav" class="navbar navbar-default  navbar-fixed-top" *ngIf="router.url.search( 'home' ) === -1">
        <button mat-button [matMenuTriggerFor]="menu" style="margin-top: 10px; float: right;">Dashboard Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openSnackBar()">Language</button>
          <button mat-menu-item (click)="openSettingsDialog()">Einstellungen</button>
          <button mat-menu-item (click)="loginOrLogout()">{{ loginOrLogoutButton() }}</button>
        </mat-menu>
</nav>
