<div style="margin-top: 30px" *ngIf="!activateJsonButton">
  <button mat-button (click)="save()">
    <mat-icon>save</mat-icon> Save
  </button>
  <button mat-button (click)="close()">
    <mat-icon>clear</mat-icon> Close
  </button>
  <button mat-button (click)="initiateQuery()" *ngIf="!activateJsonButton">
    <mat-icon>label</mat-icon> Try Query
  </button>
</div>

<div style="margin-top: 30px" *ngIf="activateJsonButton">
  <button mat-button (click)="saveAndClose()" >
    <mat-icon>clear</mat-icon> Save and Close
  </button>
  <button mat-button (click)="closeWithoutSaving()">
  <mat-icon>clear</mat-icon>
    Close without saving
  </button>
</div>

<form [formGroup]="form" class="example-form" style="margin-top: 40px" >
  <mat-form-field>
    <input formControlName="title" matInput placeholder="Title">
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="description" matInput placeholder="Beschreibung"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="method">
      <mat-option
        [value]="'GET'"
        (click)="activateJsonButton = false">
        GET
      </mat-option>
      <mat-option
        [value]="'POST'"
        (click)="activateJsonButton = false">
        POST
      </mat-option>
      <mat-option
        [value]="'PUT'"
        (click)="activateJsonButton = false"
        disabled>
        PUT
      </mat-option>
      <mat-option
        [value]="'DELETE'"
        (click)="activateJsonButton = false"
        disabled>
        DELETE
      </mat-option>
      <mat-option
        [value]="'JSON'"
        (click)="activateJsonButton = true">
        JSON Object
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <input formControlName="serverURL" matInput placeholder="Server URL">
  </mat-form-field>
</form>

<button mat-button *ngIf="activateJsonButton && !form.get('serverURL').value" (click)="generateNewJsonObject()">
  <mat-icon>add_circle</mat-icon> Generate new JSON Object
</button>

<button mat-button *ngIf="activateJsonButton && form.get('serverURL').value && jsonObjectHasArrived" (click)="updateJsonObject()">
  <mat-icon>save</mat-icon> Save or Update Json Object
</button>

<ace-editor class="url-extension"
            #editor2
            style="min-height: 500rem; width:100%; overflow: auto;"
            [mode]="'typescript'"
            *ngIf="activateJsonButton">
</ace-editor>

<mat-tab-group style="margin-top: 50px" >
  <mat-tab label="General Query Editor" >

    <div style="margin-top: 30px">

      <mat-tab-group (selectedTabChange)="onTabChange($event)">

        <mat-tab label="Body" *ngIf="form.get('method').value === 'POST' || form.get('method').value === 'PUT'">
          <ace-editor class="url-extension"
                      #editor
                      style="min-height: 40rem; width:100%; overflow: auto;"
                      [mode]="'typescript'">
          </ace-editor>
        </mat-tab>

        <mat-tab label="URL Params">
          <app-key-value-form #paramForm [param]="data.query.params"></app-key-value-form>
        </mat-tab>

        <mat-tab label="Header">
          <app-key-value-form #headerForm [param]="data.query.header"></app-key-value-form>
        </mat-tab>

      </mat-tab-group>

      <div *ngIf="response" style="margin-top: 40px">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle
            style="color: red !important"
            [ngStyle]="{'color': error ? 'red' : 'grey'}"
            (click)="changeTreeInput( response )"
            [checked]="true" >
            Show tree with data
          </mat-button-toggle>
          <mat-button-toggle
            *ngIf="abstractJson"
            (click)="changeTreeInput( abstractJson )">
            Show abstract tree structure
          </mat-button-toggle>
        </mat-button-toggle-group>

        <app-response-tree
          (sendMappingBackToQueryAppInputMap)="updateQueryAppInputMaping($event)"
          [chosenInputs]="chosenInputs"
          [queryResponse]="tree" >
        </app-response-tree>

      </div>
    </div>
  </mat-tab>

  <mat-tab label="Knora Query Editor" disabled></mat-tab>
  <mat-tab label="Sparql Query Editor" disabled></mat-tab>
  <mat-tab label="MySQL Query Editor" disabled></mat-tab>
  <mat-tab label="existDB Query Editor" disabled></mat-tab>
</mat-tab-group>
