<h4> Data-Chooser Settings</h4>

<mat-select placeholder="Please choose project" [(ngModel)]="selectedProject">
  <mat-option
    *ngFor="let project of allProjects; let i = index"
    [value]="project.shortname"
    (click)="getAllVocabuliares(project)"
    (click)="generateGravsearchPrefixes(project)">
    {{ project.shortname }}
  </mat-option>
</mat-select>

<br>

<mat-select
  placeholder="Please choose the central ressource class for this view"
  style="margin-top: 5px"
  *ngIf="selectedProject"
  [(ngModel)]="selectedResourceType">
  <mat-option
    *ngFor="let resourceType of resourceTypes;
    let i = index"
    [value]="resourceType.id"
    (click)="getAllInstancesOfChosenResourceClass(resourceType)">
    {{ resourceType.label }}
  </mat-option>
</mat-select>

<div *ngIf="selectedResourceType && selectedProject">
  <h5>Gravsearch Query:</h5>
  <span *ngFor=" let prefix of selectedPrefixes">
    {{ prefix }} <br>
  </span><br>
  <span>CONSTRUCT &#123;</span><br>
  <span>&#32;</span> <br>

  <span>?myVariable knora-api:isMainResource true ; &#32;</span><br>
  <span *ngFor="let chosenProperty of selectedProperties">
    {{ chosenProperty }} <br>
  </span>

  <span>&#32;</span> <br>
  <span>&#32; &#125;</span> <br>
  <span>&#32;</span> <br>

  <span>WHERE &#123;</span><br>
  <span>&#32;</span> <br>

  <span> {{ '?myVariable a ' + returnWHERE( selectedProject) + ' .'}} &#32;</span><br>

  <span>&#32;</span> <br>
  <span>&#32; &#125;</span> <br>

  <button mat-button style="margin-top: 5px" (click)="sendRequest()"> --> Send request</button>

  <h5 *ngIf="requestSend" >Query Results:</h5>

  <div style=" height: 100px; width: 700px; overflow: auto;">
    <div *ngFor="let response of gravSearchResponse; let i = index" >
      <table style="border-collapse: collapse;">
        <tr>
          <th style="padding: 8px;">{{ i }} &#32;&#32;</th>
          <th style="padding: 8px;">{{ response[ '@id' ] }} &#32;&#32;</th>
          <th style="padding: 8px;">{{ response[ 'rdfs:label' ] }} &#32;&#32;</th>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="gravSearchResponse" style="margin-top: 15px">
    <mat-select placeholder="Please choose properties that should be in the response" [(ngModel)]="selectedProperties" multiple>
      <mat-option
        *ngFor="let property of resourceTypeProperties;"
        [value]="property.label">
        <span (click)="addPropertyToGravSearchQuery(property)">
          {{ property.label }}
        </span>

      </mat-option>
    </mat-select>
    <button mat-button style="margin-top: 5px" (click)="sendRequest()"> --> Send request again</button>
  </div>


</div>

<button mat-button [mat-dialog-close]="data" style="margin-top: 5px">Ok</button>
<button  type="button" mat-button (click)="onNoClick()">Abbrechen</button>
