<div class="col-md-6 col-md-offset-3" style="margin-top: 30px" *ngIf="!userCreated && environment.search('test') === -1">
  <h2>Register</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
      <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
      <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
    </div>

    <div class="form-group" >
      <label for="profilePic">Profile Picture</label>
      <input type="file" class="form-control" name="profilePic" #filePicker (change)="onProfilePicSelected($event)" style="visibility: hidden;height: 0px">
      <button mat-menu-item (click)="filePicker.click();" >
        <mat-icon>perm_identity</mat-icon>
      </button>

    </div>


    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="^\S+[@]\S+[.]\S+$" email/>
      <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required / Does not have the right format.</div>
    </div>

    <p>The password should include at least</p>
    <ul>
      <li>
        an upper-case letter (A-Z)
      </li>
      <li>
        a lower-case letter (a-z)
      </li>
      <li>
        a number (0-9)
      </li>
      <li>
        one character of the following group: {{ neededSpecialCharacters }}
      </li>
      <li>
        and has to be at least 9 characters long
      </li>
    </ul>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>

    <p *ngIf="wrongFormatAlert" style="color: darkred" >The chosen password does not follow the requirements.</p>

    <div class="form-group">
      <mat-slide-toggle [checked]="newsletter" (change)="changeNewsletter($event)">
        Newsletter
      </mat-slide-toggle>
    </div>

    <h5>Nutzungsbedingungen Inseri hostet unter nie-ine.ch</h5>
    <div style="height: 200px; overflow: auto; border-style: groove;" [innerHtml]="termsAndConditions.nutzungsbedingungen">

    </div>

    <div class="form-group" style="margin-top: 20px">
      <mat-slide-toggle [checked]="acceptTermsBoolean" (change)="acceptTerms($event)">
        Accept Terms of Use
      </mat-slide-toggle>
    </div>

    <div class="form-group">
      <button [disabled]=" !acceptTermsBoolean " class="btn btn-primary">Register</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a [routerLink]="['/home']" class="btn btn-link" >Cancel</a>
    </div>

  </form>
</div>

<div *ngIf="userCreated" style="margin-top: 40px"> Greetings {{ model.firstName }} <br> Your user has been created in nieOS! Have fun! <a href="home#login" class="btn btn-link">Go to your Dashboard</a></div>

<div *ngIf="environment.search('test') !== -1" > This is the test - instance, please go to the
  <a href="https://nieos.nie-ine.ch">production instance.</a>
</div>
