
  <mat-card class="popup-win custom" *ngIf="show" id="app"
       [ngStyle]="{
       'top': app.fullHeight ? '0' : curY + 'px',
       'left': app.fullWidth ? '0' : curX + 'px',
       'z-index': curZIndex,
       'position': position,
       width: app.fullWidth ? 'calc(100% - 70px)' : '',
       height: app.fullHeight ? 'calc(100% - 70px)' : '',
       'margin-top': app.fullHeight ? '70px' : '',
       'margin-left': app.fullWidth ? '70px' : ''
       }">

        <mat-card-header class=" popup-drag" (mousedown)="mousedown($event)" *ngIf="!preview" (mousedown)="setNewZIndex()"
                         [ngClass]="{'popup-title-bar': position === 'absolute'}">

            <button *ngIf="position === 'absolute'" mat-button [matMenuTriggerFor]="menu1" >
              {{ app.title || app.type }}
            </button>
            <mat-menu #menu1="matMenu">

              <button mat-menu-item (click)="openSettings()" >
                Change Title and size
              </button>

              <button mat-menu-item (click)="assignInput()" >
                File Options
              </button>

              <button mat-menu-item (click)="addAppDescription()" >
                Change app description
              </button>

              <button mat-menu-item (click)="disappear()" >
                Minimize
              </button>

              <button mat-menu-item (click)="closeApp()" >
                Close
              </button>

            </mat-menu>

            <button mat-button *ngIf="pathsWithArrays" (click)="moveBack()" [disabled]="!(index > 0)">
              <mat-icon>chevron_left</mat-icon>
            </button>

            <button
              mat-button [matMenuTriggerFor]="menu"
              *ngIf="pathsWithArrays">
              {{index + 1}}
            </button>

            <mat-menu #menu="matMenu">
              <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">
                <mat-form-field #chooseIndex>
                  <input  matInput placeholder="Go to Number" (keyup.enter)=chooseResource(Number(chooseIndex.value))>
                </mat-form-field>
              </div>
              <button mat-button matTooltip="Extended search"
                      (click)="panelExtended = !panelExtended"
                      (click)="fullWidth = true"
                      (click)="fullHeight = true"><mat-icon>search</mat-icon>Extended Search</button>
              <mat-divider></mat-divider>
              <button
                mat-menu-item
                *ngFor="let entry of dataChooserEntries; let i = index;"
                (click)="chooseResource(i)">
                {{ i + 1 }}
              </button>
            </mat-menu>

            <button mat-button *ngIf="pathsWithArrays" (click)="moveForward()" [disabled]="!(index < dataChooserEntries.length -1 )">
              <mat-icon>chevron_right</mat-icon>
            </button>


          <button *ngIf="position === 'static'" mat-button [matMenuTriggerFor]="menu1" style="float: right!important;">
            <mat-icon>minimize</mat-icon>
          </button>

          <button  *ngIf="showAppDescriptionEditor" (click)="showAppDescriptionEditor = false" (click)="sendAppSettingsBackToPage()" mat-button >
            <mat-icon>close</mat-icon>
          </button>

        </mat-card-header>

        <mat-card-content class="popup-content" (mousedown)="setNewZIndex()">

          <div *ngIf="panelExtended" >

            <mat-form-field *ngIf="!checkIfUrlIsImage(newDataChooserEntries[0])">
              <input matInput placeholder="Search for word" [(ngModel)]="searchTerm" >
            </mat-form-field>

            <button
              mat-button
              (click)="panelExtended = !panelExtended"
              (click)="fullWidth = false"
              (click)="fullHeight = false">
              Close extended search
            </button>

            <button mat-button (click)="showContent = !showContent" >{{ showContent ? 'Close Panels' : 'Open Panels'}}</button>

            <br>

            <div *ngFor="let entry of newDataChooserEntries;  let i = index;" style="display: inline-block;">
              <mat-expansion-panel *ngIf=" !searchTerm || entry.search(searchTerm)  !== -1  "
                                   [ngStyle]="{ 'width': (width / 2).toString() + 'px' }"
                                   style="max-height: 400px; overflow-y: auto; margin-bottom: 15px; margin-left: 15px;"
                                   [expanded]="showContent" >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ i }}
                  </mat-panel-title>
                  <mat-panel-description *ngIf="entry !== null && entry !== undefined">
                    {{ entry.slice( 0, 10 ) }}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div
                  *ngIf="entry !== null && entry !== undefined && !checkIfUrlIsImage(entry)"
                  [innerHtml]="entry"
                  style="cursor: pointer"
                  (click)="chooseResource( i )">

                </div>

                <img
                  *ngIf="entry !== null && entry !== undefined && checkIfUrlIsImage(entry)"
                  mat-card-image
                  src="{{ entry }}"
                  alt="{{ entry }}" style="cursor: pointer"
                  (click)="chooseResource( i )">

              </mat-expansion-panel>
            </div>


          </div>

          <ngx-spinner
            bdColor = "rgba(51, 51, 51, 0.8)"
            size = "small"
            color = "#fff"
            type = "cube-transition"
            [fullScreen] = "false"
          ></ngx-spinner>

            <ng-content *ngIf="!panelExtended" ></ng-content>

        </mat-card-content>

    <div  *ngIf="app.description !== undefined" >
      <strong>{{ app.hash + ' | '}} {{ app.title || app.type }}</strong>
      <div [innerHTML]="app.description" style="height: 60px;">
      </div>
    </div>

      </mat-card>


  <p-editor
    [(ngModel)]="app.description"
    [style]="{'height':'320px'}"
    *ngIf="showAppDescriptionEditor"></p-editor>
