<div class="popup" *ngIf="show"  >

  <div class="popup-win"
       [ngStyle]="{
       'top': fullHeight ? '0' : curY + 'px',
       'left': fullWidth ? '0' : curX + 'px',
       'z-index': curZIndex,
       'position': position,
       width: fullWidth ? 'calc(100% - 70px)' : '',
       height: fullHeight ? 'calc(100% - 70px)' : '',
       'margin-top': fullHeight ? '70px' : '',
       'margin-left': fullWidth ? '70px' : ''
       }">
    <div class="popup-title-bar popup-drag" (mousedown)="mousedown($event)" *ngIf="!preview" (mousedown)="setNewZIndex()">
      <span style=" margin-right: 20px; color: blue; cursor: pointer;" (click)="disappear()" *ngIf="!preview && showAppSettingsOnPublish" >-</span>
        {{title}}
      <span style=" margin-left: 20px; color: blue; cursor: pointer;" (click)="openSettings()" *ngIf="!preview && showAppSettingsOnPublish">*</span>
    </div>

    <div class="popup-content">
      <ng-content></ng-content>
    </div>

  </div>
<!--  <div class="popup-overlay blur-in" [ngStyle]="{'z-index': curZIndex - 1}" (click)="disappear()">
  </div>-->
</div>


