<div [class]="theme">
<!--    <mat-select placeholder="Standard theme"-->
<!--                [(ngModel)]="theme"-->
<!--                (change) = "onThemeChange()">-->
<!--      <mat-option value="none">Standard theme</mat-option>-->
<!--      <mat-option value="standard-theme">New standard theme?</mat-option>-->
<!--      <mat-option value="dark-theme">Dark-Green theme</mat-option>-->
<!--      <mat-option value="other-theme">other theme</mat-option>-->
<!--    </mat-select>-->
  <main>
    <app-main></app-main>
  </main>
</div>
