# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
*.icloud
backend/.settings/
backend/.mongoData/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
*.tar.gz

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#sensitive data
src/assets/sensitiveData
/backend/files/1a63715680285a9f838507e3e900ff1c
/backend/files/1585198469174-The Nature Conservancy.jpg
/backend/files/1585198589206-The Nature Conservancy.jpg
/backend/files/1585199061656-The Nature Conservancy.jpg
/backend/files/b6f9a86c56329fe605954c9d7cbe66dc
/backend/files/Docker.dmg
/backend/files/Test.rtf
/backend/files/The Nature Conservancy.jpg
