.i {
  color: #f7d336;
  position: relative;
}
.i:before {
  content: "ı";
  position: absolute;
  color: black;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
