# compiled output
tmp
sme

# dependencies
node_modules
bower_components

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch
dist/.settings/
dist/files/*
src/.settings/
src/files/*

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
typings

# e2e
e2e/*.js
e2e/*.map

#System Files
.DS_Store
Thumbs.db

#configs
.env*
