
<h4 i18n="@@settingsHeader">Settings</h4>
<button mat-button (click)="save()">
  <mat-icon>save</mat-icon> <ng-container i18n="@@saveButton">Save</ng-container>
</button>
<button mat-button (click)="close()">
  <mat-icon>clear</mat-icon> <ng-container i18n="@@closeButton">Close</ng-container>
</button>


<form >
  <mat-form-field class="example-full-width" >
    <input matInput placeholder="Title" value="{{ title }}" name="title" [(ngModel)]="title">
  </mat-form-field>
</form>

<h5 i18n="@@widthLabel">Width</h5>
<mat-slider
  [max]="1200"
  [min]="0"
  [step]="20"
  [thumbLabel]="true"
  [(ngModel)]="width">
</mat-slider>

<mat-form-field class="example-margin">
  <input matInput type="number" placeholder="Current Width: {{ width }}" [(ngModel)]="width">
</mat-form-field>

<h5 i18n="@@heightLabel">Height</h5>
<mat-slider
  [max]="1200"
  [min]="0"
  [step]="20"
  [thumbLabel]="true"
  [(ngModel)]="height"
  [vertical]="true">
</mat-slider>

<mat-form-field class="example-margin">
  <input matInput type="number" placeholder="Current Height: {{ height }}" [(ngModel)]="height">
</mat-form-field>
