<div [ngStyle]="{'height': '100%'}" *ngFor="let m of margins">
  <div [ngStyle]="getStyleDict('styleKeys')"
       [ngClass]="{'text-margin-with-fix-height': fixHeight}">

    <app-joined-text-block
      *ngIf="marginConfiguration.blocks"
      [parentIri]="m['@id']"
      [backendAddress]="backendAddress"
      [blockConfiguration]="marginConfiguration.blocks"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-block>

    <app-joined-text-line
      *ngIf="marginConfiguration.lines"
      [parentIri]="m['@id']"
      [backendAddress]="backendAddress"
      [lineConfiguration]="marginConfiguration.lines"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-line>

    <app-joined-text-linepart
      *ngIf="marginConfiguration.lineparts"
      [parentIri]="m['@id']"
      [backendAddress]="backendAddress"
      [linepartConfiguration]="marginConfiguration.lineparts"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-linepart>

    <ng-container *ngIf="marginConfiguration.contentProperty">
      <ng-container *ngIf="marginConfiguration.contentProperty === 'self'">
         <app-joined-text-textwrapper
            *ngIf="marginConfiguration.propertyIri"
            [namespaces]="namespaces"
            [propertyIri]="marginConfiguration.propertyIri"
            [resource]="m"
            [highlighted]="highlighted"
            [styleDeclarations]="styleDeclarations"
            [selectiveStyleDeclarations]="selectiveStyleDeclarations">
          </app-joined-text-textwrapper>
      </ng-container>
    </ng-container>

  </div>
</div>
