<h2>Component in this project, V1-like input</h2>

<app-image-frame-sizes (viewerWidthChange)="viewerWidth = $event">
  <app-image-frame [image]="picData"
                   [width]="viewerWidth"
                   [height]="viewerWidth * picData.ny / picData.nx">
  </app-image-frame>
</app-image-frame-sizes>

<h2>Imported component, V2-like input</h2>

<nie-image-frame-sizes (viewerWidthChange)="viewerWidth = $event">
  <nie-image-frame [image]="picData2"
                   [width]="viewerWidth"
                   [height]="viewerWidth * picData2['knora-api:stillImageFileValueHasDimX'] / picData2['knora-api:stillImageFileValueHasDimX']">
  </nie-image-frame>
</nie-image-frame-sizes>
