<div>
  <h2 *ngIf="stropheData">{{ stropheData['rdfs:label'] }}</h2>

  <div>
    <div>

      <div>
        <p style="color: red">
          Parallel Passages: none (only AVP)
        </p>
        <p style="color: red">
          Manuscripts: Kashmir: K, Orissa Ek1, Ek2, Ku1, Ja1, Ma1, Vā
        </p>
      </div>

      <details [open]="true">
        <summary>Samhita</summary>
        <div>
          <ng-container *ngFor="let halfstrophe of stropheTextData">
            <app-text-line *ngFor="let verse of halfstrophe?.verses; let i = index" [columnRatio]="[0,0,0,8,2]" [whitespaceBehavior]="'normal'">
              <span *ngIf="i != 0">&nbsp;&nbsp;</span>
              <ng-container *ngFor="let samhitaword of verse?.samhitawords">
                <app-spa-text [databaseAddress]="backendAddress" [spaTextIri]="samhitaword?.id"></app-spa-text>
              </ng-container>
              <app-text-line-margin class="right">{{ verse?.metric }}</app-text-line-margin>
            </app-text-line>
          </ng-container>
        </div>
      </details>

      <details [open]="true">
        <summary>Padapāṭha</summary>
        <div>
          <p *ngFor="let halfstrophe of stropheTextData; let j = index">
            <span *ngFor="let verse of halfstrophe?.verses; let i = index">
              <ng-container *ngFor="let samhitaword of verse?.samhitawords">
                <span *ngFor="let padaword of samhitaword?.padawords">
                  {{ padaword['http://api.knora.org/ontology/shared/text/v2#hasName']['knora-api:valueAsString'] }}
                </span>
              </ng-container>
              <ng-container *ngIf="i < halfstrophe?.verses?.length - 1">'</ng-container>
            </span>
            <ng-container *ngIf="j < stropheTextData?.length - 1">|</ng-container>
            <ng-container *ngIf="j == stropheTextData?.length - 1">||</ng-container>
          </p>
        </div>
      </details>

      <details [open]="true">
        <summary>Interlinear Glossing</summary>
        <app-interlinear-glossing></app-interlinear-glossing>
      </details>

<!--      <details [open]="false">-->
<!--        <summary>Translation</summary>-->
<!--        {{ stanzaData?.translation }}-->
<!--      </details>-->

      <details [open]="false">
        <summary>Manuscript</summary>
        Lorem ipsum dolor sit amet
      </details>

      <details [open]="false">
        <summary>Critical Apparatus</summary>
        Lorem ipsum dolor sit amet
      </details>

      <details [open]="false">
        <summary>Linguistic Commentary</summary>
        <p style="color: red">
          +Dadad dīr- (or dadadīr-). Renou (1964:440) thinks the Orissa text contains
          the form dada, which he understands as an imperative of a thematic present
          stem dádati 'he gives'.
        </p>
        <p style="color: red">
          However, such a present stem does not exist in the Veda, cf. Goto (1987:79).
          On the other hand, the Kashimirian reading dadad is easily interpretable as
          participle of athematic dádāti 'he gives'. Simplification of two stops like dd→d is
          a common mistake in the Orissa tradition.
        </p>
      </details>

    </div>

    <div>
      <div>
        <h3>Paradigm</h3>
        [Paradigm]
      </div>
      <div>
        <h3>Subject tags</h3>
        <ul *ngIf="stropheData">
          <li *ngFor="let c of stropheData['concept:informationHasSubjectDescription']">
            {{ c['knora-api:valueAsString'] }}
          </li>
        </ul>

        <h3>Indologic Commentary</h3>
        <p>
          Lorem ipsum
        </p>
      </div>
    </div>
  </div>
</div>
