<ng-container *ngIf="property['valuetype_id']">
  <ng-container 
    *ngIf="property['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#TextValue'">
    <input />
  </ng-container>

  <ng-container 
    *ngIf="property['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#IntValue'">
    <input type="number"/>
  </ng-container>

  <ng-container 
    *ngIf="property['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#DateValue'">
    <input type="date"/>
  </ng-container>

  <ng-container 
    *ngIf="property['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#LinkValue'">
    integrate search here
  </ng-container>
</ng-container>
