<div>
  
  <div>
    <select [(ngModel)]="selectedVocabulary" (ngModelChange)="resetVocabulary()">
      <option value="">
        Select vocabulary
      </option>
      <option *ngFor="let v of vocabularies" [value]="v[ 'uri' ]">
        {{ v[ 'shortname' ] }}
      </option>
    </select>
    <p>{{ selectedVocabularyDescription }}</p>
  </div>
  
  <hr/>
  
  <div *ngIf="selectedVocabulary != ''">
    <select [(ngModel)]="selectedResourceClass" (ngModelChange)="resetResourceClass()">
      <option value="">
        Select resource class
      </option>
      <option *ngFor="let c of resourceClasses" [value]="c[ 'id' ]">
        {{ c[ 'label' ] }}
      </option>
    </select>
    <p>{{ selectedResourceClassDescription }}</p>
  </div>
  
  <hr *ngIf="selectedVocabulary != ''" />
  
  <table *ngIf="selectedResourceClass != ''">
    <tr>
      <td>
        Label:
      </td>
      <td>
        <input [(ngModel)]="resourceLabel"/>
      </td>
    </tr>
    
    <tr *ngFor="let p of selectedProperties, let i = index">
      <td [title]="p[ 'structure' ][ 'description' ]">{{ p[ 'structure' ][ 'label' ] }}:</td>     
      <td>
        
        <ng-container [ngSwitch]="p['structure']['valuetype_id']">

          <ng-container 
            *ngSwitchCase="'http://www.knora.org/ontology/knora-base#TextValue'">
            <app-text-value-editor (textValue)="setValue($event, i)">
            </app-text-value-editor>
          </ng-container>

          <ng-container 
            *ngSwitchCase="'http://www.knora.org/ontology/knora-base#IntValue'">
            <app-int-value-editor (intValue)="setValue($event, i)">
            </app-int-value-editor>
          </ng-container>

          <ng-container 
            *ngSwitchCase="'http://www.knora.org/ontology/knora-base#DecimalValue'">
            <app-decimal-value-editor (decimalValue)="setValue($event, i)">
            </app-decimal-value-editor>
          </ng-container>

          <ng-container 
            *ngSwitchCase="'http://www.knora.org/ontology/knora-base#BooleanValue'">
            <app-boolean-value-editor (booleanValue)="setValue($event, i)">
            </app-boolean-value-editor>
          </ng-container>

          <ng-container 
            *ngSwitchCase="'http://www.knora.org/ontology/knora-base#DateValue'">
            <app-date-value-editor (dateValue)="setValue($event, i)"></app-date-value-editor>
          </ng-container>

          <ng-container 
            *ngSwitchCase="'http://www.knora.org/ontology/knora-base#LinkValue'">
            <app-link-value-editor [targetClass]="p['structure']['attributes']"
                                   (linkValue)="setValue($event, i)">
            </app-link-value-editor>
          </ng-container>

          <ng-container *ngSwitchDefault>
            type not supported                
          </ng-container>

        </ng-container>
      </td>
      <td>
        <button (click)="deleteProperty(i)">del</button>
      </td>
    </tr>
    
    <tr>
      <td>+</td>
      <td>
        <select *ngIf="showPropertySelect" [ngModel]="dropdownProperty" (ngModelChange)="addProperty($event)">
          <option value="">
            Select property
          </option>
          <option *ngFor="let p of properties" [value]="p [ 'id' ]">
            {{ p[ 'label' ]}}
          </option>
        </select>
      </td>
    </tr>
  </table>
    
  <div *ngIf="resourceLabel != ''">
    <button (click)="postResource()">
      Save
    </button>
  </div>

</div>
      