<div style="margin-top: 30px">
  <button mat-button (click)="save()">
    <mat-icon>save</mat-icon> Save
  </button>
  <button mat-button (click)="close()">
    <mat-icon>clear</mat-icon> Close
  </button>
</div>

<form [formGroup]="form" class="example-form" style="margin-top: 40px" >
  <mat-form-field>
    <input formControlName="title" matInput placeholder="Title">
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="description" matInput placeholder="Beschreibung"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="method">
      <mat-option [value]="'GET'">GET</mat-option>
      <mat-option [value]="'POST'">POST</mat-option>
      <mat-option [value]="'PUT'" disabled>PUT</mat-option>
      <mat-option [value]="'DELETE'" disabled>DELETE</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="serverURL" matInput placeholder="Server URL">
  </mat-form-field>
</form>

<mat-tab-group style="margin-top: 50px">
  <mat-tab label="General Query Editor" >

    <div style="margin-top: 30px">

      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="URL Params">
          <app-key-value-form #paramForm [param]="data.query.params"></app-key-value-form>
        </mat-tab>

        <mat-tab label="Header">
          <app-key-value-form #headerForm [param]="data.query.header"></app-key-value-form>
        </mat-tab>

        <mat-tab label="Body" *ngIf="form.get('method').value === 'POST' || form.get('method').value === 'PUT'">
          <ace-editor class="url-extension"
                      #editor
                      style="min-height: 20rem; width:100%; overflow: auto;"
                      [mode]="'typescript'">
          </ace-editor>
        </mat-tab>
      </mat-tab-group>

      <button mat-button (click)="initiateQuery()">
        <mat-icon>label</mat-icon> Try Query
      </button>

      <div *ngIf="response">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle (click)="changeTreeInput( response )" [checked]="true" >Show tree with data</mat-button-toggle>
          <mat-button-toggle (click)="changeTreeInput( abstractJson )">Show abstract tree structure</mat-button-toggle>
        </mat-button-toggle-group>

        <app-response-tree
          (sendMappingBackToQueryAppInputMap)="updateQueryAppInputMaping($event)"
          [chosenInputs]="chosenInputs"
          [queryResponse]="tree" >
        </app-response-tree>

      </div>
    </div>
  </mat-tab>

  <mat-tab label="Knora Query Editor" disabled></mat-tab>
  <mat-tab label="Sparql Query Editor" disabled></mat-tab>
  <mat-tab label="MySQL Query Editor" disabled></mat-tab>
  <mat-tab label="existDB Query Editor" disabled></mat-tab>
</mat-tab-group>
