<div style="margin-top: 40px">
  <h2 style="margin-left: 30px">{{ generateTitle() }}</h2>
  <img src="{{ generateImage() }}"
       alt="Kuno Raeber"
       style="float: left; margin-right: 30px; margin-left: 30px;"
       height="300">
  <div style="float: left; width: 300px"> {{ generateDescription() }}
  </div>

  <div style="margin-right: 30px; margin-left: 30px; margin-top: 330px;">
    <a href="arbeitsflaeche" style="font-size: 30px">Notizbücher</a><br>
    In diesem View sehen Sie die Notizbücher Kuno Raebers. Diese sind als erster Teil seines kreativen Prozesses
    zu verstehen und er hielt in diesen Notizbüchern handschriftlich seine Ideen fest. Dieser View zeigt Ihnen
    die Notizüchern aus den Jahren 1979 - 1988.
  </div>

  <div class="col-md-4" style="margin-top: 20px; margin-left: 30px;">
                    <span class="fa-stack fa-2x" >
                     <i class="fa fa-circle fa-stack-2x text-primary" ></i>
                      <a (click)="openDialog()"><i class="fa fa-plus fa-stack-1x fa-inverse" ></i></a>
                    </span>
    <h4 class="service-heading">Neuer View</h4>
  </div>

  <div style="position: fixed; bottom: 0; right: 0;">
    <button mat-button (click)="openUpdateEditionDialog()">Update Edition</button><br>
    <button mat-button >Save Edition</button><br>
  </div>

</div>

