<canvas-whiteboard #canvasWhiteboard
                   style="width: 700px; height: 700px;"
                   [drawButtonClass]="'drawButtonClass'"
                   [drawButtonText]="'Draw'"
                   [clearButtonClass]="'clearButtonClass'"
                   [clearButtonText]="'Clear'"
                   [undoButtonText]="'Undo'"
                   [undoButtonEnabled]="true"
                   [redoButtonText]="'Redo'"
                   [redoButtonEnabled]="true"
                   [colorPickerEnabled]="true"
                   [saveDataButtonEnabled]="true"
                   [saveDataButtonText]="'Save'"
                   [lineWidth]="5"
                   [shouldDownloadDrawing]="true">
</canvas-whiteboard>
