<!-- TABLE-->
<div *ngIf = "displaySettings || mustSetArray">
  <data-list-view-settings [dataArrays]="dataArrays" [hash]="hash" [appInputQueryMapping]="appInputQueryMapping" [dataListSettings] = "dataListSettingsOut"></data-list-view-settings>
</div>
<mat-card *ngIf =" !mustSetArray && !tableData && dataListSettings.pathToDataArray == ''">
    <h3>Please define the input of your app:</h3>
      <li>Open app menu</li>
      <li>App Input Options</li>
      <li>Options for Input JSON</li>
      <li>Assign to query ...</li>
</mat-card>
<div *ngIf = "dataListSettings">
  <mat-progress-bar *ngIf="!mustSetArray && !tableData && dataListSettings.pathToDataArray !== ''" mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="tableData && dataListSettingsOut && !mustSetArray">
  <data-list-view-table [dataToDisplay] = "tableData"
                        [dataListTableSettings] = "dataListSettingsOut">
  </data-list-view-table>
</div>
