<div>
  <mat-form-field>
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <data-list-view-settings [displayedColumns] = "displayedColumns"></data-list-view-settings>
  </mat-menu>
</div>
<div>
  <mat-table #table [dataSource]="dataSource" matSort [multiTemplateDataRows]="true">
    <ng-container *ngFor="let col of displayedColumns" [cdkColumnDef]="col">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{col}}</mat-header-cell>
      <mat-cell *cdkCellDef="let row; let i = $implicit;" style="cursor: pointer" (click)="dosomething(row[col].value, i)"> {{row[col].value}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [length]="dataSource.data.length"
                 [pageIndex]="0"
                 [pageSize]="4"
                 [pageSizeOptions]="[5, 10, 25, 50, 100, 250]">
  </mat-paginator>
</div>
