<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openAddObjectDialog()">
    <mat-icon>add</mat-icon>
    <span>Add object</span>
  </button>
  <button mat-menu-item>
    <mat-icon>grid_on</mat-icon>
    <span>Tiled layout</span>
    <!-- <mat-icon>grid_off</mat-icon>
    <span>Float layout</span> -->
  </button>
  <button mat-menu-item>
    <mat-icon>view_column</mat-icon>
    <span>
      <button mat-icon-button><mat-icon>remove_circle_outline</mat-icon></button>
      <button mat-icon-button><mat-icon>add_circle_outline</mat-icon></button>
    </span>
  </button>
  <button mat-menu-item (click)="openSaveLightTableDialog()">
    <mat-icon>cloud_upload</mat-icon>
    <span>Save light table</span>
  </button>
  <button mat-menu-item (click)="openLoadLightTableDialog()">
    <mat-icon>cloud_download</mat-icon>
    <span>Load light table</span>
  </button>
</mat-menu>
