<div id="container">
  <div *ngFor="let t of thumbnails; let i = index;" [appDraggable]="t" class="draggable">
    <button mat-button class="close-button" (click)="closeThumbnail(i)" >X</button>
    <ng-container [ngSwitch]="t.dataType">
      <span *ngSwitchCase="synopsisObjectTypes.Text">
        <b class="small">{{t.name}}</b><br>
        <span class="smaller">{{removeHtml(t.htmlText)}}</span>
      </span>
      <img *ngSwitchCase="synopsisObjectTypes.Image" class="thumbnail-image" [src]="t.src">
    </ng-container>
  </div>
</div>
<button mat-icon-button style="float:right;" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
