<div style="margin-top: 40px; width: 900px;">
  <h2 style="margin-left: 30px">{{ generateTitle() }}</h2>
  <img src="{{ generateImage() }}"
       alt="Kuno Raeber"
       style="float: left; margin-right: 30px; margin-left: 30px;"
       height="300">
  <div style="float: left; width: 300px"> {{ generateDescription() }}
  </div>

  <div style="margin-right: 30px; margin-left: 30px;" *ngFor="let page of pagesOfThisPageSet; let i = index; ">
    <div >
      <a href="{{ generateURL( page ) }}" style="font-size: 30px">{{ generatePageTitle ( page ) }}</a><br>
      {{ generatePageDescription( page ) }}
    </div>
  </div>

  <br>


  <div class="col-md-4" style="margin-top: 20px; margin-left: 30px;">
                    <span class="fa-stack fa-2x" >
                     <i class="fa fa-circle fa-stack-2x text-primary" ></i>
                      <a (click)="openDialog()"><i class="fa fa-plus fa-stack-1x fa-inverse" ></i></a>
                    </span>
    <h4 class="service-heading">Neue Page </h4>
  </div>

  <div style="position: fixed; bottom: 0; right: 0;">
    <button mat-button (click)="openUpdatePageSetDialog()">Update Page Set</button><br>
    <button mat-button (click)="saveOrUpdatePageSet()">Save Page Set</button><br>
  </div>

</div>

