<div style="margin-top: 40px; width: 900px;">

  <div style="float:left; width: 100%;">

    <img src="{{ generateImage() }}"
         style="float: left; margin-right: 30px; margin-left: 30px;"
         height="300">

    <div style="float: left; ">
      <h2>
        {{ generateTitle() }}
      </h2>
      {{ generateDescription() }}
    </div>
  </div>


  <div style="float:left; clear: left; width: 100%;">
    <div style="margin-right: 30px; margin-left: 30px; margin-top: 20px;" *ngFor="let page of pagesOfThisPageSet; let i = index; ">
      <mat-divider></mat-divider>

        <span>
          <a href="{{ generateURL( page ) }}" style="font-size: 25px" > {{ generatePageTitle ( page ) }} </a> <button mat-button><mat-icon >settings</mat-icon></button><br>
          <span style="font-size: 15px" > {{ generatePageDescription( page ) }}   </span>
        </span>



    </div>
  </div>



  <div style="position: fixed; bottom: 0; right: 0;">

    <button mat-button (click)="openDialog()">Füge Page hinzu</button>

    <br>

    <button mat-button (click)="openUpdatePageSetDialog()">Update Page Set</button><br>

  </div>

</div>
