<mat-spinner *ngIf="isLoading"></mat-spinner>
<div style="margin-top: 40px; width: 900px;" *ngIf="!isLoading">

  <div style="float:left; width: 100%;">

    <img src="{{ generateImage() }}"
         style="float: left; margin-right: 30px; margin-left: 30px;"
         height="300">

    <div style="float: left; ">
      <h2>
        {{ generateTitle() }}
      </h2>
      {{ generateDescription() }}
    </div>
  </div>

  <div style="float:left; clear: left; width: 100%;">
    <div style="margin-right: 30px; margin-left: 30px; margin-top: 20px;" *ngFor="let page of pagesOfThisPageSet; let i = index; ">
      <mat-divider></mat-divider>
        <span>
          <a href="{{ generateURL( page ) }}" style="font-size: 25px" > {{ page.title }} </a>
          <button mat-button (click)="editPage(page)"><mat-icon>settings</mat-icon></button><br>
          <button mat-button (click)="deletePage(page)"><mat-icon>delete</mat-icon></button>
          <button mat-button (click)="duplicatePage(page)"><mat-icon>file_copy</mat-icon></button>
          <span style="font-size: 15px" > {{ page.description }}   </span>
        </span>
    </div>
  </div>

  <div style="position: fixed; bottom: 0; right: 0;">
    <button mat-button (click)="addPage()">Füge Page hinzu</button>
    <br>
    <button mat-button (click)="editPageSet()">Editiere PageSet</button><br>
  </div>

</div>
