
.mat-row:default {
  height: 10px;
}

.mat-row:hover {
  background-color: #e5e5e5;
}

.highlight {
  font-weight: bold;
}

.mat-cell {
  padding: 5px;
}

.in-cell-table {
  margin:0 10px 10px 0;
}

.cell-container {
  width: auto;
  min-width: 1em;
}

.context-menu-button {
  width: 1em;
  min-width: 1em;
  max-width: 1em;
  overflow: hidden;
  position: absolute;
  vertical-align: top;
  margin: 0;
  padding: 0;
}


/*  [ngClass]="row[col].value --> will search for the class name of the cells content */
/*  [ngClass]="row[col].value --> will search for the class name of the cells content */

.mat-cell .Fr29 {
  background-color: lightgoldenrodyellow;
}

.mat-cell .Fr32 {
  background-color: lightblue;
}

.table-cell {
  all: inherit;
}

.filter {
  padding: 10px;
}

#settings-button
{
  margin-right:0;
}


