/*.mat-row, .mat-header-row {
  min-width: 2800px;
  width: 100%;
}*/
.mat-row:default {
  height: 10px;
}

.mat-row:hover {
  background-color: #e5e5e5;
}

.highlight {
  font-weight: bold;
}


.mat-cell {
  padding: 5px;
}


/*  [ngClass]="row[col].value --> will search for the class name of the cells content */
/*  [ngClass]="row[col].value --> will search for the class name of the cells content */

.mat-cell .Fr29 {
  background-color: lightgoldenrodyellow;
}

.mat-cell .Fr32 {
  background-color: lightblue;
}

.table-cell {
  all: inherit;
}

.filter {
  padding: 10px;
}

#settings-button
{
  margin-right:0;
}


