:host ::ng-deep .scaleStackedBarChartWidth {
  margin: 10px 0 0 30px;
  width: 128px;
  overflow: hidden;
}

:host ::ng-deep .scaleStackedBarChartInput {

}

:host ::ng-deep .scaleStackedBarChartSlider {

}

:host ::ng-deep rect {
  stroke-width: 2;
}
:host ::ng-deep rect.disabled {
  fill: transparent !important;
}

:host ::ng-deep .legend_container {
  position: relative;
}

:host ::ng-deep .legend {
  position: relative;
}

:host ::ng-deep .chart_container {
  position: relative;
}

:host ::ng-deep .yaxis {
  position: absolute;
  float: left;
  z-index: 3;
}

:host ::ng-deep .chart {
  position: relative;
  overflow-x: auto;
}

:host ::ng-deep .sortChart {
  margin:0 0 0 30px;
}

/* tooltip */
:host ::ng-deep .stackedBarChartTooltip {
  position: fixed;
  display: none;
  text-align: center;
  z-index: 4;
}

:host ::ng-deep .stackedBarChartTooltipLabel {
  font-weight: bold;
}
