<!-- Header -->
<header>
  <div id="top" class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Arbeits - und Publikationsplattform für Editionen</div>
      <div class="intro-heading">Langfristig Verfügbar</div>
      <a href="home#login" class="page-scroll btn btn-xl">Get Started</a>
      <span style="margin-left: 20px"></span>
      <a style=" border-style: solid; border-width: 5px; border-color: #f8f8f8" href="/page" class="page-scroll btn btn-xl">NIEOS Demo</a>
    </div>
  </div>
</header>

<!-- Services Section -->
<section id="funktionen">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Funktionen</h2>
        <h3 class="section-subheading text-muted">Arbeitsschritte auf der NIE-INE Plattform</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
        <h4 class="service-heading">Arbeiten Sie an Ihrer Edition</h4>
        <p class="text-muted">Arbeiten Sie online an Ihrer Edition, mit handgefertigten NIE-INE Workflows.
        Benutzen Sie beispielsweise vorgefertigte Workflows für Briefeditionen und andere Templates oder
        stellen Sie sich selbst Workflows zusammen.</p>
      </div>
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-asterisk fa-stack-1x fa-inverse"></i>
                    </span>
        <h4 class="service-heading">Arbeiten Sie an Ihrer Ontologie</h4>
        <p class="text-muted">Eine Ontologie ist eine nachhaltige Datenstruktur.
          Haben Sie Wünsche bezüglich Ihrer Ontologie? Mit unseren Workflows spezifizieren
        Sie Ihre Anliegen, sodass unser Ontologie - Experte diese normcompliant umsetzen kann</p>
      </div>
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
        <h4 class="service-heading">Weboberfläche</h4>
        <p class="text-muted">Auf unserer Platform haben Sie Zugang zu den NIE-INE Anzeigekomponenten,
        die Sie interaktiv zu einem ersten provisorischen oder auch professionellen Webauftritt zusammenstellen und mit
        unserer Hilfe verfeinern können.</p>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Login</h2>
        <h3 class="section-subheading text-muted">Sie haben keinen Useraccount?
          Zögern Sie nicht, uns zu kontaktieren! Oder <a  href="register">registrieren</a> Sie sich!</h3>
        <h6 *ngIf="loginError" style="color: #b05f56" class="section-subheading text-muted">Username oder Passwort ist falsch!</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  [(ngModel)]="username"
                  name="Email"
                  type="email"
                  class="form-control"
                  placeholder="Email" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input
                  [(ngModel)]="password"
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Password" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button (click)="startLoginProcess()"  type="button" class="btn btn-xl">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; NIE-INE 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="#">Privacy Policy</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>
