<input mat-input [(ngModel)]="name" xmlns="http://www.w3.org/1999/html">
<input mat-input [(ngModel)]="description" >

<button mat-button (click)="createNewUserGroup()">
  Create new user group
</button>

<button mat-button (click)="listUserGroups()">
  List user groups
</button>

<br>
<div *ngFor="let group of userGroups">

  Enter Email of new user that you'd like to add to the group:
  <input mat-input [(ngModel)]="group.member" >
  <button mat-button  (click)="assignUserToGroup( group )" >
   <!-- {{ group.title }}-->
    Add
  </button>
  <button mat-button  (click)="removeUserFromGroup( group.member,group.title)" >
    <!-- {{ group.title }}-->
    Remove
  </button>
  <br>

  <input mat-input [(ngModel)]="group.title" >
  <button mat-button  (click)="listGroupMembers( group )" >
     List Group Members
  </button>
  <button mat-button (click)="removeGroup( group.title )">
    Remove group
  </button>

</div>

