<input mat-input [(ngModel)]="name" xmlns="http://www.w3.org/1999/html">
<input mat-input [(ngModel)]="description" >

<button mat-button (click)="createNewUserGroup()">
  Create new user group
</button>





<button mat-button (click)="listUserGroups()">
  List user groups
</button>

<br>
<div *ngFor="let group of userGroups">

  <button mat-button (click)="updateUserGroupDetails(group._id, name, description)">
    Update user group
  </button>

  Enter Email of new user that you'd like to add to the group:
  <input mat-input [(ngModel)]="member" >
  <button mat-button  (click)="assignUserToGroup( group, member )" >
   <!-- {{ group.title }}-->
    Add
  </button>
  <button mat-button  (click)="removeUserFromGroup( group,member)" >
    <!-- {{ group.title }}-->
    Remove
  </button>
  <button mat-button  (click)="removeMeFromGroup( group)" >
    <!-- {{ group.title }}-->
    Remove me
  </button>

  <button mat-button  (click)="assignNewOwner( group, member)" >
    <!-- {{ group.title }}-->
    Assign new owner to group
  </button>

  <br>

  <input mat-input [(ngModel)]="group.title" >
  <button mat-button  (click)="listGroupMembers( group )" >
     List Group Members
  </button>
  <button mat-button (click)="removeGroup( group.title )">
    Remove group
  </button>

</div>

