<div *ngIf="!data.askToUnlock" >
  <h4 mat-dialog-title>optional password</h4>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>please enter password</mat-label>
      <input matInput [(ngModel)]="data.password">
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <!--button mat-button *ngIf="!data.minimized" (click)="submit()">Save</button-->
    <button mat-button (click)="submit()">Set Password</button>
    <button mat-button (click)="continueWithoutPassword()">Continue without password</button>
  </div>
</div>

<div *ngIf="data.askToUnlock">
  <mat-form-field>
    <mat-label>please enter password</mat-label>
    <input matInput [(ngModel)]="data.password">
  </mat-form-field>
  <button mat-button *ngIf="data.password === data.givenPassword" (click)="openApp()">Open minimized app</button>

</div>
