<h1 mat-dialog-title xmlns="http://www.w3.org/1999/html"> Minimize Application Credentials </h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>User Email</mat-label>
    <input matInput [(ngModel)]="userEmail">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button *ngIf="data.firstTime" mat-button (click)="submit()">Save</button>
  <button *ngIf="!data.firstTime" mat-button (click)="update()">Ok</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <!--button mat-button [mat-dialog-close]="data.firstTime" >Ok</button-->
</div>
