<app-load-variables
  (sendPageBack)="receivePage( $event )"
  (sendOpenAppsInThisPageBack)="receiveOpenAppsInThisPage( $event )"
  [reload]="reloadVariables">

</app-load-variables>

<app-data-assignment
  [index]="index"
  [openAppsInThisPage]="openAppsInThisPage"
  [appInputQueryMapping]="page.appInputQueryMapping"
  [response]="response"
  [queryId] = "queryId"
  [updateLinkedApps]="updateLinkedApps"
  [indexAppMapping]="indexAppMapping"
  (sendAppTypesBackToNIEOS)="receiveOpenAppsInThisPage( $event )">

</app-data-assignment>

<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "large"
  color = "#fff"
  type = "cube-transition"
></ngx-spinner>

  <!-- Menu to open Apps-->
  <mat-drawer-container  style="height:100vh; margin-top: 30px;" >
    <mat-drawer #drawer mode="side" [opened]="true">

      <div *ngIf="!pageAsDemo">
        <h4 style="align-content: center">Your Page</h4>
        <button mat-button (click)="updatePage()">Save Page</button>
        <button mat-button (click)="expandPanels()"> Un/fold description</button><br>
        <button mat-button (click)="openDataManagement()">Page Data Management</button><br>
        <h4 style="align-content: center">GrapesJS</h4>
        <button mat-button (click)="activateGrapesJS()">Add GrapesJS</button>
        <button mat-button (click)="deactivateGrapesJS()">Remove GrapesJS</button><br>
        <button mat-button (click)="deleteGrapesJSData()">Delete GrapesJS Data</button>
        <button mat-button (click)="addBlock()">Add Block</button>
      </div>

      <div *ngIf="pageAsDemo">
        <h4 style="align-content: center">Demo - Page</h4>
        You can not save anything you do on this <br> demo - page. If you would like to save <br> pages and pageSets, please <a href="/register">register</a>.
      </div>

      <div *ngFor="let createResourceForm of openAppsInThisPage[ 'textlistViewers' ].model; let i = index;" >

      </div>

      <!-- Data Chooser -->
      <h4 style="align-content: center" *ngIf="openAppsInThisPage[ 'dataChooser' ].model.length > 0">Queries</h4>
      <div *ngFor="let dataChooser of openAppsInThisPage[ 'dataChooser' ].model; let i = index;" >
        <div style="width: 300px; height: 50px;" >
          <app-data-chooser
            [appInputQueryMapping]=" page.appInputQueryMapping"
            [response]="openAppsInThisPage[ 'dataChooser' ].model[i].response"
            [queryId] = "openAppsInThisPage[ 'dataChooser' ].model[i].queryId"
            [openAppsInThisPage] = "openAppsInThisPage"
            [dataChooserEntries]="openAppsInThisPage[ 'dataChooser' ].model[i].dataChooserEntries"
            [description]="openAppsInThisPage[ 'dataChooser' ].model[i].title"
            (sendIndexBack)="updateMainResourceIndex( $event )">
          </app-data-chooser>
        </div>
      </div>


      <h4 style="align-content: center">Texts</h4>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Text Viewer
          </mat-panel-title>
          <mat-panel-description>
            Displays searchable Text
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development. It displays searchable text which can be changed regarding the font size, the design.

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'textViewer' ].model, true)"><mat-icon>view_headline</mat-icon> Add Text Viewer</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Textlist Viewer
          </mat-panel-title>
          <mat-panel-description>
            Displays searchable Text
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app can be combined with the data - chooser. A tutorial on how to use the data - chooser will follow.

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'textlistViewers' ].model, true)"><mat-icon>short_text</mat-icon>Add Textlist - Viewer</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Simple Image APp
          </mat-panel-title>
          <mat-panel-description>
            Displays simple image
          </mat-panel-description>
        </mat-expansion-panel-header>
        Description
        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'simpleImageApp' ].model, true)"><mat-icon>short_text</mat-icon>Add Image - Viewer</button><br>

      </mat-expansion-panel>


      <h4 style="align-content: center">Images</h4>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >

        <mat-expansion-panel-header>
          <mat-panel-title>
            Image Viewer
          </mat-panel-title>
          <mat-panel-description>
            Display and zoom in images
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app displays the image of your choice with the OpenSea - Dragon - Plugin. You can zoom in and have
        a look at it in fullscreen - mode. The documentation of this App can be found
        <a href="https://nie-ine.github.io/nieOS/components/ImageFrameComponent.html" target="_blank">here</a>.

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'imageViewer' ].model, true)" >
          <mat-icon >image</mat-icon>
          Add Image Viewer</button><br>

      </mat-expansion-panel>

      <h4 style="align-content: center">Searches</h4>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Simple Full Text Search
          </mat-panel-title>
          <mat-panel-description>
            Search in all resources
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app searches in all resources of your project and provides a simple output. It is still under development.

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'searchViewer' ].model, true)">
          <mat-icon >search</mat-icon>
          Add search Viewer
        </button><br>

      </mat-expansion-panel>

      <h4 style="align-content: center">Multimedia</h4>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Synopsis Viewer
          </mat-panel-title>
          <mat-panel-description>
            Compare images and texts
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development. It has the functionality of a light - table and can compare image and text objects.
        It is currently working much better as an own window and can be opened as an own window <a href="/synopsis" target="_blank">here</a>.

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'synopsisViewer' ].model, true)"><mat-icon>art_track</mat-icon> Add Synopsis Viewer</button><br>
      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Data Chooser
          </mat-panel-title>
          <mat-panel-description>
            Define input Data for Apps
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app works with the Textlist - Viewer. A tutorial on how to use it will follow.

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'dataChooser' ].model, true)"><mat-icon>perm_data_setting</mat-icon> Add Data Chooser</button><br>

      </mat-expansion-panel>

      <h4 style="align-content: center">Data Visualisation</h4>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Bar Chart
          </mat-panel-title>
          <mat-panel-description>
            To define data with two dimensions
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'barCharts' ].model, true)"><mat-icon>bar_chart</mat-icon> Add Bar Chart</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Line Chart
          </mat-panel-title>
          <mat-panel-description>
            To define data with two dimensions
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'lineCharts' ].model, true)"><mat-icon>show_chart</mat-icon> Add Line Chart</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Brush Zoom
          </mat-panel-title>
          <mat-panel-description>
            To define data with two dimensions
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'brushZoomCharts' ].model, true)"><mat-icon>insert_chart_outlined</mat-icon> Add Brush Zoom Chart</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Leaflet map
          </mat-panel-title>
          <mat-panel-description>
            Visualize data on maps
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'leafletMaps' ].model, true)"><mat-icon>add_location</mat-icon> Add Leaflet Map</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pie Chart
          </mat-panel-title>
          <mat-panel-description>
            To visualise subsets
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'pieCharts' ].model, true)"><mat-icon>pie_chart</mat-icon> Add Pie Chart</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Radial Bar Chart
          </mat-panel-title>
          <mat-panel-description>
            To two dimensional data
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'radialBarCharts' ].model, true)"><mat-icon>multiline_chart</mat-icon> Add Radial Bar Chart</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sankey
          </mat-panel-title>
          <mat-panel-description>
            To display dependend data
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'sankeyCharts' ].model, true)"><mat-icon>linear_scale</mat-icon> Add Sankey Chart</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Stacked Bar Chart
          </mat-panel-title>
          <mat-panel-description>
            To display grouped sets
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'stackedBarCharts' ].model, true)"><mat-icon>view_list</mat-icon> Add Stacked Bar Chart</button><br>

      </mat-expansion-panel>


      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chord diagram
          </mat-panel-title>
          <mat-panel-description>
            To compare intensity of connections
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'chordDiagrams' ].model, true)"><mat-icon>all_out</mat-icon> Add Chord Diagram</button><br>

      </mat-expansion-panel>



      <h4 style="align-content: center">Data Insertion</h4>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Resource Creation
          </mat-panel-title>
          <mat-panel-description>
            For Knora
          </mat-panel-description>
        </mat-expansion-panel-header>

        With this app you can create and change data in Knora and see the history of given properties.

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(openAppsInThisPage[ 'createResourceForm' ].model, true)"><mat-icon>add_to_queue</mat-icon> Add Creation Form</button>

      </mat-expansion-panel>

    </mat-drawer>

      <div *ngIf="grapesJSActivated" id="grapesJSViewer" style="z-index: -1; position: absolute; "></div>

      <div style="margin-top: 30px; vertical-align: bottom;">
        <button type="button" mat-button (click)="drawer.toggle()" matTooltip='{{ createTooltip() }}'>
          <mat-icon color="primary" >chrome_reader_mode</mat-icon> <h4 style="align-content: center" *ngIf="pageAsDemo">Demo</h4>
        </button>
      </div>

      <!-- Image Viewer -->
      <div *ngFor="let imageViewer of openAppsInThisPage[ 'imageViewer' ].model; let i = index;" >
        <popup #imageViewer
               [hash]="openAppsInThisPage[ 'imageViewer' ].model[i].hash"
               [title]="'Image Viewer ' + i "
               [type]="openAppsInThisPage[ 'imageViewer' ].type"
               [firstPopupX]="openAppsInThisPage[ 'imageViewer' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'imageViewer' ].model[i].y"
               [index] = "openAppsInThisPage[ 'imageViewer' ].model[i].index"
               [arrayLength] = "openAppsInThisPage[ 'imageViewer' ].model[i].arrayLength"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)"
               [queryId] = "openAppsInThisPage[ 'imageViewer' ].model[i].queryId"
               (sendIndexBack)="updateIndices( $event )">
          <nie-image-frame style="height: 100%;"
                           [image]="{
    '@id' : openAppsInThisPage[ 'imageViewer' ].model[i]['@id'],
    '@type' : openAppsInThisPage[ 'imageViewer' ].model[i]['@type'],
    'knora-api:fileValueAsUrl' : openAppsInThisPage[ 'imageViewer' ].model[i]['fileValueAsUrl'],
    'knora-api:fileValueHasFilename' : openAppsInThisPage[ 'imageViewer' ].model[i]['fileValueHasFilename'],
    'knora-api:fileValueIsPreview' : false,
    'knora-api:stillImageFileValueHasDimX' : openAppsInThisPage[ 'imageViewer' ].model[i]['stillImageFileValueHasDimX'],
    'knora-api:stillImageFileValueHasDimY' : openAppsInThisPage[ 'imageViewer' ].model[i]['stillImageFileValueHasDimY'],
    'knora-api:stillImageFileValueHasIIIFBaseUrl' : openAppsInThisPage[ 'imageViewer' ].model[i]['stillImageFileValueHasIIIFBaseUrl']
  }"
                           width="500"
                           height="700">
          </nie-image-frame>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>image</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="imageViewer.appear()">Show Image Viewer {{ i }}</button>
          <button mat-menu-item >Choose Image</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'imageViewer' ].model, i ) ">Remove this app</button>
        </mat-menu>
      </div>

      <!-- Search -->
      <div *ngFor="let search of openAppsInThisPage[ 'searchViewer' ].model; let i = index;" >
        <popup #searchViewer
               [hash]="openAppsInThisPage[ 'searchViewer' ].model[i].hash"
               [title]="'Search ' + i"
               [type]="openAppsInThisPage[ 'searchViewer' ].type"
               [firstPopupX]="openAppsInThisPage[ 'searchViewer' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'searchViewer' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <nie-search
            style="height: 100%;">

          </nie-search>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>search</mat-icon> {{ i }} </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="searchViewer.appear()" >Show Search Viewer {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'searchViewer' ].model, i ) ">Remove this app</button>
        </mat-menu>
      </div>

    <!-- Simple Image App -->
    <div *ngFor="let image of openAppsInThisPage[ 'simpleImageApp' ].model; let i = index;" >
      <popup #simpleImageApp
             [hash]="openAppsInThisPage[ 'simpleImageApp' ].model[i].hash"
             [title]="'Image' + i"
             [type]="openAppsInThisPage[ 'simpleImageApp' ].type"
             [firstPopupX]="openAppsInThisPage[ 'simpleImageApp' ].model[i].x"
             [firstPopupY]="openAppsInThisPage[ 'simpleImageApp' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <app-simple-image-app
          style="height: 100%;" [imageURL]="openAppsInThisPage[ 'simpleImageApp' ].model[i]['imageURL']">

        </app-simple-image-app>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>search</mat-icon> {{ i }} </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="simpleImageApp.appear()" >Show Image Viewer {{ i }}</button>
        <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'simpleImageApp' ].model, i ) ">Remove this app</button>
      </mat-menu>
    </div>

      <!-- TextViewer -->
      <div *ngFor="let textViewer of openAppsInThisPage[ 'textViewer' ].model; let i = index;" >
        <popup #textViewer
               [hash]="openAppsInThisPage[ 'textViewer' ].model[i].hash"
               [title]="'Text Viewer ' + i"
               [type]="openAppsInThisPage[ 'textViewer' ].type"
               [firstPopupX]="openAppsInThisPage[ 'textViewer' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'textViewer' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div style="max-width: 500px;">
            <app-text-view class="draggable">
            </app-text-view>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>short_text</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="textViewer.appear()" >Show Text Viewer {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'textViewer' ].model, i ) ">Remove this app</button>
          <button mat-menu-item>Choose Text</button>
        </mat-menu>

      </div>

      <!-- Synopsis -->
      <div *ngFor="let synopsisViewer of openAppsInThisPage[ 'synopsisViewer' ].model; let i = index;" >
        <popup #synopsisViewer
               [hash]="openAppsInThisPage[ 'synopsisViewer' ].model[i].hash"
               [title]="'Synopsis Viewer ' + i"
               [type]="openAppsInThisPage[ 'synopsisViewer' ].type"
               [firstPopupX]="openAppsInThisPage[ 'synopsisViewer' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'synopsisViewer' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div style="width: 900px; height: 400px;" >
            <app-synopsis style="position: sticky;">

            </app-synopsis>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>art_track</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="synopsisViewer.appear()" >Show Synopsis Viewer {{ i }}</button><br>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'synopsisViewer' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>

      <!-- Resource Creation Form -->
      <div *ngFor="let createResourceForm of openAppsInThisPage[ 'createResourceForm' ].model; let i = index;" >
        <popup #createResourceForm
               [hash]="openAppsInThisPage[ 'createResourceForm' ].model[i].hash"
               [title]="'Resource Creation ' + i"
               [type]="openAppsInThisPage[ 'createResourceForm' ].type"
               [firstPopupX]="openAppsInThisPage[ 'createResourceForm' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'createResourceForm' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div style="width: 900px; height: 400px;" >
            <app-create-resource style="position: sticky;"
                                 [projectIRI]="projectIRI"
                                 (resourceIRI)="closeApp( openAppsInThisPage[ 'createResourceForm' ].model, i )">
            </app-create-resource>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>add_to_queue</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="createResourceForm.appear()" >Show Create Resource Form {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'createResourceForm' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>

      <!-- textlistViewers -->
      <div *ngFor="let createResourceForm of openAppsInThisPage[ 'textlistViewers' ].model; let i = index;" >
        <popup #textlistViewers
               [hash]="openAppsInThisPage[ 'textlistViewers' ].model[i].hash"
               [title]="openAppsInThisPage[ 'textlistViewers' ].model[i].title || 'Textlist - Viewer ' + i"
               [type]="openAppsInThisPage[ 'textlistViewers' ].type"
               [firstPopupX]="openAppsInThisPage[ 'textlistViewers' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'textlistViewers' ].model[i].y"
               [width]="produceHeightAndWidth( openAppsInThisPage[ 'textlistViewers' ].model[i].width, '250' )"
               [height]="produceHeightAndWidth( openAppsInThisPage[ 'textlistViewers' ].model[i].height, '150')"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)"
               (sendAppSettingsBack)="updateAppSettings($event)">
          <div [ngStyle]="{'height': produceHeightAndWidth( openAppsInThisPage[ 'textlistViewers' ].model[i].height, '150' ) + 'px',
        'width': produceHeightAndWidth( openAppsInThisPage[ 'textlistViewers' ].model[i].width, '250' ) + 'px'}">
            <app-textlist-viewer style="position: sticky;"
                                 (resourceIRI)="closeApp( openAppsInThisPage[ 'textlistViewers' ].model, i )"
                                 [textToDisplay]="openAppsInThisPage[ 'textlistViewers' ].model[i]['textlist']">
            </app-textlist-viewer>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>view_headline</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="textlistViewers.appear()" >Show Textlist Viewer {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'textlistViewers' ].model, i ) ">Remove this app</button>
        </mat-menu>
      </div>

      <!-- Bar Charts -->
      <div *ngFor="let barChart of openAppsInThisPage[ 'barCharts' ].model; let i = index;" >
        <popup #barChart
               [hash]="openAppsInThisPage[ 'barCharts' ].model[i].hash"
               [title]="'Bar Chart ' + i"
               [type]="openAppsInThisPage[ 'barCharts' ].type"
               [firstPopupX]="openAppsInThisPage[ 'barCharts' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'barCharts' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div style="width: 1200px; overflow: auto">
            <app-bar-chart
              [initialised] = "openAppsInThisPage[ 'barCharts' ].model[i].initialized"
              [numberOfInitialisedComponent] = " i " >

            </app-bar-chart>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>bar_chart</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="barChart.appear()" (click)="openAppsInThisPage[ 'barCharts' ].model[i].initialized = true">Show Bar Chart {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'barCharts' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>


      <!-- Line Charts -->
      <div *ngFor="let lineChart of openAppsInThisPage[ 'lineCharts' ].model; let i = index;" >
        <popup #lineChart
               [hash]="openAppsInThisPage[ 'lineCharts' ].model[i].hash"
               [title]="'Line Chart ' + i"
               [type]="openAppsInThisPage[ 'lineCharts' ].type"
               [firstPopupX]="openAppsInThisPage[ 'lineCharts' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'lineCharts' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div >
            <app-multi-line-chart
              [initialised] = "openAppsInThisPage[ 'lineCharts' ].model[i].initialized"
              [numberOfInitialisedComponent] = " i " >

            </app-multi-line-chart>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>show_chart</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="lineChart.appear()" (click)="openAppsInThisPage[ 'lineCharts' ].model[i].initialized = true">Show Line Chart {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'lineCharts' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>

      <!-- Brush Zoom Charts -->
      <div *ngFor="let brushZoomChart of openAppsInThisPage[ 'brushZoomCharts' ].model; let i = index;" >
        <popup #brushZoomChart
               [hash]="openAppsInThisPage[ 'brushZoomCharts' ].model[i].hash"
               [title]="'Brush Zoom Chart ' + i"
               [type]="openAppsInThisPage[ 'brushZoomCharts' ].type"
               [firstPopupX]="openAppsInThisPage[ 'brushZoomCharts' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'brushZoomCharts' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div >
            <app-brush-and-zoom
              [initialised] = "openAppsInThisPage[ 'brushZoomCharts' ].model[i].initialized"
              [numberOfInitialisedComponent] = " i " >

            </app-brush-and-zoom>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>insert_chart_outlined</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="brushZoomChart.appear()" (click)="openAppsInThisPage[ 'brushZoomCharts' ].model[i].initialized = true">Show Brush Zoom Chart {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'brushZoomCharts' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>

      <!-- Leaflet Map -->
      <div *ngFor="let leafletMap of openAppsInThisPage[ 'leafletMaps' ].model; let i = index;" >
        <popup #leafletMap
               [hash]="openAppsInThisPage[ 'leafletMaps' ].model[i].hash"
               [title]="'Leaflet Map ' + i"
               [type]="openAppsInThisPage[ 'leafletMaps' ].type"
               [firstPopupX]="openAppsInThisPage[ 'leafletMaps' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'leafletMaps' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div >
            <app-leaflet-example
              [initialised] = "openAppsInThisPage[ 'leafletMaps' ].model[i].initialized"
              [numberOfInitialisedComponent] = " i " >

            </app-leaflet-example>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>add_location</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="leafletMap.appear()" (click)="openAppsInThisPage[ 'leafletMaps' ].model[i].initialized = true">Show Leaflet Map {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'leafletMaps' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>

      <!-- Pie Chart -->
      <div *ngFor="let pieChart of openAppsInThisPage[ 'pieCharts' ].model; let i = index;" >
        <popup #pieChart
               [hash]="openAppsInThisPage[ 'pieCharts' ].model[i].hash"
               [title]="'Pie Chart ' + i"
               [type]="openAppsInThisPage[ 'pieCharts' ].type"
               [firstPopupX]="openAppsInThisPage[ 'pieCharts' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'pieCharts' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div >
            <app-pie-chart
              [initialised] = "openAppsInThisPage[ 'pieCharts' ].model[i].initialized"
              [numberOfInitialisedComponent] = " i " >
            </app-pie-chart>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>pie_chart</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="pieChart.appear()" (click)="openAppsInThisPage[ 'pieCharts' ].model[i].initialized = true">Show Pie Chart {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'pieCharts' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>

      <!-- Radial Bar Chart -->
      <div *ngFor="let radialBarChart of openAppsInThisPage[ 'radialBarCharts' ].model; let i = index;" >
        <popup #radialBarChart
               [hash]="openAppsInThisPage[ 'radialBarCharts' ].model[i].hash"
               [title]="'Radial Bar Chart ' + i"
               [type]="openAppsInThisPage[ 'radialBarCharts' ].type"
               [firstPopupX]="openAppsInThisPage[ 'radialBarCharts' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'radialBarCharts' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div >
            <app-radial-barchart
              [initialised] = "openAppsInThisPage[ 'radialBarCharts' ].model[i].initialized"
              [numberOfInitialisedComponent] = " i " >
            </app-radial-barchart>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>multiline_chart</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="radialBarChart.appear()" (click)="openAppsInThisPage[ 'radialBarCharts' ].model[i].initialized = true">Show Radial Bar Chart {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'radialBarCharts' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>

      <!-- Sankey Chart -->
      <div *ngFor="let sankeyChart of openAppsInThisPage[ 'sankeyCharts' ].model; let i = index;" >
        <popup #sankeyChart
               [hash]="openAppsInThisPage[ 'sankeyCharts' ].model[i].hash"
               [title]="'Sankey Chart ' + i"
               [type]="openAppsInThisPage[ 'sankeyCharts' ].type"
               [firstPopupX]="openAppsInThisPage[ 'sankeyCharts' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'sankeyCharts' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div >
            <app-sankey
              [initialised] = "openAppsInThisPage[ 'sankeyCharts' ].model[i].initialized"
              [numberOfInitialisedComponent] = " i " >
            </app-sankey>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>linear_scale</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="sankeyChart.appear()" (click)="openAppsInThisPage[ 'sankeyCharts' ].model[i].initialized = true">Sankey Chart {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'sankeyCharts' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>

      <!-- Stacked Bar Chart -->
      <div *ngFor="let stackedBarChart of openAppsInThisPage[ 'stackedBarCharts' ].model; let i = index;" >
        <popup #stackedBarChart
               [hash]="openAppsInThisPage[ 'stackedBarCharts' ].model[i].hash"
               [title]="'Sankey Chart ' + i"
               [type]="openAppsInThisPage[ 'stackedBarCharts' ].type"
               [firstPopupX]="openAppsInThisPage[ 'stackedBarCharts' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'stackedBarCharts' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div >
            <app-stacked-bar-chart
              [initialised] = "openAppsInThisPage[ 'stackedBarCharts' ].model[i].initialized"
              [numberOfInitialisedComponent] = " i " >
            </app-stacked-bar-chart>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>view_list</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="stackedBarChart.appear()" (click)="openAppsInThisPage[ 'stackedBarCharts' ].model[i].initialized = true">Stacked Bar Chart {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'stackedBarCharts' ].model, i ) ">Remove this app</button>
        </mat-menu>

      </div>

      <!-- Chord diagram -->
      <div *ngFor="let chordDiagram of openAppsInThisPage[ 'chordDiagrams' ].model; let i = index;" >
        <popup #chordDiagram
               [hash]="openAppsInThisPage[ 'chordDiagrams' ].model[i].hash"
               [title]="'Chord Diagram ' + i"
               [type]="openAppsInThisPage[ 'chordDiagrams' ].type"
               [firstPopupX]="openAppsInThisPage[ 'chordDiagrams' ].model[i].x"
               [firstPopupY]="openAppsInThisPage[ 'chordDiagrams' ].model[i].y"
               (sendAppCoordinatesBack)="updateAppCoordinates($event)">
          <div >
            <app-chord-diagram
              [initialised] = "openAppsInThisPage[ 'chordDiagrams' ].model[i].initialized"
              [numberOfInitialisedComponent] = " i " >
            </app-chord-diagram>
          </div>
        </popup>
        <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>all_out</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="chordDiagram.appear()" (click)="openAppsInThisPage[ 'chordDiagrams' ].model[i].initialized = true">Chord Diagram {{ i }}</button>
          <button mat-menu-item (click)=" closeApp( openAppsInThisPage[ 'chordDiagrams' ].model, i ) ">Close this app</button>
        </mat-menu>

      </div>

  </mat-drawer-container>
