.popup-win {
  box-shadow: /*0 0px 0px 0px rgba(0,0,0,.2), 0 11px 15px 3px rgba(0,0,0,.14),*/ 0 1px 1px 1px rgba(0,0,0,.06);
  resize: both;
  overflow: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.popup-content {
  opacity: 1;
  background-color: rgba(250, 250, 250, 0.98);

}

.popup-overlay {
  /*justify-content: center;*/
  /*align-items: center;*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  opacity: 0.5;
  background: rgba(0,0,0,.6);
}

.blur-in {
  -webkit-animation: blur 2s forwards;
  -moz-animation: blur 2s forwards;
  -o-animation: blur 2s forwards;
  animation: blur 2s forwards;
}

.blur-out {
  -webkit-animation: blur-out 2s forwards;
  -moz-animation: blur-out 2s forwards;
  -o-animation: blur-out 2s forwards;
  animation: blur-out 2s forwards;
}

.popup-title-bar {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #000000;
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.i {
  color: #f7d336;
  position: relative;
}
.i:before {
  content: "ı";
  position: absolute;
  color: black;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.resizeable {
  resize: both;
  overflow: auto;
}

summary {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
