<app-load-variables
  (sendPageBack)="receivePage( $event )"
  (sendOpenAppsInThisPageBack)="receiveOpenAppsInThisPage( $event )"
  [reload]="reloadVariables">

</app-load-variables>

<app-data-assignment
  [index]="index"
  [openAppsInThisPage]="openAppsInThisPage"
  [appInputQueryMapping]="page.appInputQueryMapping"
  [response]="response"
  [queryId] = "queryId"
  [depth]="depth"
  [pathWithArray]="pathWithArray"
  (sendAppTypesBackToNIEOS)="receiveOpenAppsInThisPage( $event )">

</app-data-assignment>




<!-- Publish Option Expansion Panel -->
<div style="vertical-align: bottom; ">

  <div style="position: fixed; width: 100%;">
    <button
      type="button"
      mat-button
      (click)=" loggedIn ? openPageMenu() : addAnotherApp( 'login', true, 'login' )" style="margin-top: 15px; ">
      <img
        [src]=" lightHouse ?  '../../../../assets/img/logo_transparent.png' : '../../../../assets/img/logo_transparent2.png'"
        style="width: 40px; margin-bottom: 2px; vertical-align: bottom;" matTooltip="inseri apps" >
    </button>

    <button mat-button [matMenuTriggerFor]="menu5" *ngIf="subPagesOfPage">{{ page.title }}
    </button>

    <mat-menu #menu5>

      <button mat-button (click)="goToPageSet()" *ngIf="route.snapshot.queryParams.page" >
        <mat-icon style="margin-right: 10px">list</mat-icon> Table of content
      </button>

      <ng-container *ngFor="let page of subPagesOfPage">

        <button class="mat-menu-item" mat-menu-item style="width: 240px;">
                 <!--[matMenuTriggerFor]="submenu.menu"-->

          <span class="pm-menu-item"  (click)="navigateToOtherView(page.page)" [ngStyle]="{'display': (page.subPages.length!==0 || addSubPages)? 'contents':'block'}">
            {{ (page.page.title.length>25)? (page.page.title | slice:0:25)+'..':(page.page.title) }}
            </span>
          <i style="vertical-align: middle; " class="material-icons pm-menu-icon-right"  *ngIf="page.subPages.length!==0 ||addSubPages" (click)="$event.stopPropagation();" [matMenuTriggerFor]="submenu.menu" > keyboard_arrow_right</i>
        </button>
        <!--
        ng-container *ngIf="!!page.subPages.length"-->
          <!--button  (click)="navigateToOtherView(page.page)" [matMenuTriggerFor]="submenu.menu" mat-menu-item>
            {{ page.page.title }}
          </button-->
            <app-nested-menu #submenu="nestedMenu" (subPagesArray)="updatePagesArray($event)" [pageSet]="pageSet" [allPages]="subPagesOfPage" [parentPage]="page.page" [actionIDInput]="actionID" [pages]="page.subPages"  [pageAsDemo]="pageAsDemo" [preview]="preview" [loggedIn]="loggedIn" > <!--(actionIDOutput)="$event"-->
            <ng-content></ng-content>
            </app-nested-menu>
        <!--/ng-container>

        <a *ngIf="!page.subPages.length" mat-menu-item>
      {{ page.page.title }}
    </a-->
      </ng-container>
      <mat-button-toggle-group
        name="fontStyle"
        *ngIf=" (!pageAsDemo) && !preview && loggedIn"
        style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">

        <mat-button-toggle (click)="addNewPage(page)" matTooltip="Add new page">
          <mat-icon>add</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle (click)="addDuplicatedPage()" matTooltip="Copy and add existing page">
          <mat-icon>file_copy</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle matTooltip="Link existing page" (click)="linkExistingPage()">
          <mat-icon>link</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle matTooltip="Add subPages" (click)="$event.stopPropagation();addSubPagesEvent()">
          <mat-icon>library_add</mat-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>

      <div *ngFor="let app of openAppArray; let i = index;">
        <button
          mat-button
          *ngIf="app.minimized"
          style="margin-top: 10px"
          (click)="openMinimizedApp( i, app, true )" >
          Open min. {{ app.type }}
        </button>
      </div>

    </mat-menu>

    <button mat-icon-button *ngIf=" (!pageAsDemo) && !preview && page.publishedAsTemplate" style="color: #4cae4c!important;" matTooltip="This page is published as a template!" [matMenuTriggerFor]="menu4">
      <mat-icon style="margin-right: 10px">arrow_circle_up</mat-icon>
    </button>

    <mat-menu #menu4="matMenu">
      <button mat-menu-item (click)="undoPublishTemplate()" (click)="page.publishedAsTemplate = false">Undo</button>
      <button mat-menu-item (click)="filePicker.click()" >Add Profile Photo</button>
      <input type="file" class="form-control" name="profilePic" #filePicker (change)="addProfilePhoto($event)" style="visibility: hidden;height: 0px">
    </mat-menu>


    <button mat-button style="float: right; margin-top: 4px;"
            *ngIf="pageIsPublished && loggedIn"
            matTooltip='Page is published'>
      <mat-icon>public</mat-icon>
    </button>
    <div *ngFor="let app of openAppArray; let i = index;" >
      <div *ngIf="( !preview || showAppSettingsOnPublish ) && innerWidth > page.chosenWidth && app.type !== 'pageMenu' && !page.tiles">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          style="vertical-align: bottom;"
          *ngIf="!app.showContent">
          <mat-icon>{{ openApps.openApps[ app.type ].materialIcon }}</mat-icon> {{ i }}</button>
        <mat-menu #menu="matMenu" >
          <button mat-menu-item (click)="app.showContent = true" (click)="app.initialized = true">Show {{ app.title || app.type  + i }}</button>
          <button mat-menu-item (click)=" closeApp( app.hash, i ) ">Remove this app</button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div style=" position: fixed; bottom: 0; left: 0; z-index: 200; overflow-x: auto; margin-top: 70px; width: 300px;" *ngIf="preview && loggedIn">
    <mat-expansion-panel [ngStyle]="{
          'height': publishedOptionsExpanded ? '500px' : '',
          'overflow': publishedOptionsExpanded ? 'auto' : '' }" >
      <mat-expansion-panel-header (click)="publishedOptionsExpanded = !publishedOptionsExpanded">
        <mat-panel-title>
          Publish Options
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field class="example-full-width" >
        <mat-label>Shortname</mat-label>
        <input #shortname matInput placeholder="Choose URL segment" value="{{ action.shortName }}" (keyup)="checkIfShortNameExist( shortname.value )" >
        <mat-icon matSuffix>{{ shortNameExist ===  false ? 'done' :  'clear' }}</mat-icon>
      </mat-form-field>

      <span *ngIf="shortNameExist === true" > Shortname exist, please choose another one </span>

      <button mat-button *ngIf="shortNameExist === false" (click)="setShortName()" > Set Shortname </button>

      <mat-divider style="margin-top: 10px; margin-bottom: 10px;"  ></mat-divider>
      <button mat-button *ngIf="!pageIsPublished" (click)="publishPageOrMakePagePrivate( true )"> <mat-icon>publish</mat-icon> Publish Page</button>
      <button mat-button *ngIf="pageIsPublished" (click)="publishPageOrMakePagePrivate( false )"> <mat-icon>fingerprint</mat-icon> Make page private again</button>
    </mat-expansion-panel>
  </div>


  <!-- Data Chooser -->
  <div style=" position: fixed; bottom: 0; right: 0; z-index: 200; overflow-x: auto; margin-top: 70px;"
       *ngIf="openAppsInThisPage[ 'dataChooser' ].model.length > 0 ">
    <mat-expansion-panel style="float: right;" [disabled]="preview && !showDataBrowserOnPublish" [ngStyle]="{ 'width': !(preview && !showDataBrowserOnPublish) ? '300px' : '0px'}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Data Browser
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let dataChooser of openAppsInThisPage[ 'dataChooser' ].model; let i = index;" >
        <div *ngIf="openAppsInThisPage[ 'dataChooser' ].model[i].queryId !== undefined" >
          <button
            *ngIf=" openAppsInThisPage[ 'dataChooser' ].model[i].title && openAppsInThisPage[ 'dataChooser' ].model[i].title.search( 'Query: ' ) !== -1 "
            (click)="openQueryInformationDialog( openAppsInThisPage[ 'dataChooser' ].model[i].queryId )"
            mat-button matTooltip="{{openAppsInThisPage[ 'dataChooser' ].model[i].title}}" >
            {{ openAppsInThisPage[ 'dataChooser' ].model[i].title }}
          </button>
          <app-data-chooser
            [page]="page"
            [response]="openAppsInThisPage[ 'dataChooser' ].model[i].response"
            [queryId] = "openAppsInThisPage[ 'dataChooser' ].model[i].queryId"
            [openAppsInThisPage] = "openAppsInThisPage"
            [dataChooserEntries]="openAppsInThisPage[ 'dataChooser' ].model[i].dataChooserEntries"
            [description]=" openAppsInThisPage[ 'dataChooser' ].model[i].depth "
            [depth]="openAppsInThisPage[ 'dataChooser' ].model[i].depth"
            [pathWithArray]="openAppsInThisPage[ 'dataChooser' ].model[i].pathWithArray"
            (sendIndexBack)="updateMainResourceIndex( $event )">
          </app-data-chooser>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<div *ngFor="let app of openAppArray.slice(); let i = index;"
     [ngStyle]="{ 'display': app.minimized ? 'none' : 'inline-block' }">
  <mat-card
    style="display: inline-grid; margin-bottom: 10px; margin-left: 60px; margin-top: 70px;"
    [ngStyle]="{
    'width': ( app.fullWidth || app.panelExtended ) ? '92%' : app.width + 'px' }">


    <mat-card-header  >

      <button mat-icon-button [matMenuTriggerFor]="menu2" [disabled]="!loggedIn">
        <mat-icon>{{ this.openAppsInThisPage[ app.type ].materialIcon }}</mat-icon>
      </button>

      <mat-menu #menu2="matMenu">

        <button mat-menu-item (click)="appMenu( app, 'tileAndSize' )">
          Change Title and size
        </button>

        <button mat-menu-item (click)="appMenu( app, 'showDescription' )">
          Change app description
        </button>

        <button (click)="app.showArrows = app.showArrows ? false : true" mat-menu-item>
          {{ app.showArrows ? 'Hide move arrows' : 'Move app on page'}}
        </button>

        <button mat-menu-item (click)="appMenu( app, 'fileOptions' )">
          App Input Options
        </button>

        <button mat-menu-item (click)="openDataManagement()">
          Data Management
        </button>

        <button mat-menu-item *ngIf="app.hasOwnProperty('showSettings')" (click)="toggleShowInAppSettings( app, i )">
          <span *ngIf="app.showSettings">Close app settings</span>
          <span *ngIf="!app.showSettings">Show app settings</span>
        </button>

        <button mat-menu-item (click)="minimizeApp(i, app)">
          Minimize
        </button>

        <button mat-menu-item (click)="appMenu( app, 'close' )">
          Close
        </button>

      </mat-menu>

      <button
        mat-button
        *ngIf=" (!pageAsDemo) && !preview && loggedIn && app.showArrows"
        (click)="switchAppTilePosition(i, i-1)" [disabled]="i === 0" >
        <mat-icon>arrow_left</mat-icon>
      </button>

      <button mat-button *ngIf=" (!pageAsDemo) && !preview && loggedIn && app.showArrows" (click)="switchAppTilePosition(i, i+1)" [disabled]="i === openAppArray.length - 1">
        <mat-icon>arrow_right</mat-icon>
      </button>

    </mat-card-header>
    <div style="pointer-events: auto!important;"
         [ngStyle]="{'height':  ( app.fullHeight || app.panelExtended ) ? generateBrowserHeight() : app.height + 'px'}"
         *ngIf="  !app.panelExtended" [style.overflow]="'auto'">

      <div *ngIf="app.hasOwnProperty('showSettings')">
        <button mat-raised-button color="primary" *ngIf="app.showSettings" (click)="toggleShowInAppSettings( app, i )">Close app settings</button>
      </div>

      <app-all-app-selectors
        [i]="i"
        [app]="app"
        (reloadVariables)="reloadVariablesFunction()"
        [appInputQueryMapping]="page.appInputQueryMapping"
        [(hoveredElement)]="hoveredElement">

      </app-all-app-selectors>


      <div *ngIf="pageAsDemo && app.type === 'pageMenu'" >
        <h4>Tutorial Videos</h4>
        <button mat-button color="primary" (click)="addVideoApp( 'https://www.youtube.com/embed/9An1cGPrv9Q' )"> <mat-icon>video_library</mat-icon> Watch Video "First steps in Inseri"</button>
        <h4 style="margin-top: 15px;" >Apps</h4>
      </div>

      <mat-form-field *ngIf="app.type === 'pageMenu'" style="width: 100%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search all appgroups">
      </mat-form-field>

      <div *ngIf="app.type === 'pageMenu'" style="height: 400px">

        <mat-tab-group *ngIf="dataSource === undefined ||  !(dataSource.filter && dataSource.filter.length > 0)">

          <mat-tab label="Admin">
            <button mat-button (click)="goToDashBoard()" *ngIf=" (!pageAsDemo) && !preview" style="margin-top: 10px">
              <mat-icon matTooltip="back to dashboard" style="margin-right: 10px">home</mat-icon> Dashboard
            </button> <br>
            <button mat-button *ngIf=" (!pageAsDemo) && !preview" (click)="updatePage()" >
              <mat-icon  matTooltip="save page" style="margin-right: 10px">save</mat-icon> Save Page
            </button> <br>
            <button mat-button *ngIf=" (!pageAsDemo) && !preview" (click)="reloadVariablesFunction()" >
              <mat-icon style="margin-right: 10px">update</mat-icon> Reload Page
            </button>
            <div *ngFor="let app of appMenuModel" >
              <button mat-button *ngIf="app.appGroup === 'admin'" (click)="addAnotherApp(app.appType, true, app.appType)">
                <mat-icon style="margin-right: 10px" >{{app.id}}</mat-icon> {{app.name}}
              </button>
            </div>
            <button mat-button *ngIf=" (!pageAsDemo) && !preview" (click)="logout()" >
              <mat-icon matTooltip="{{ 'click to logout - ' + userInfo }}" style="margin-right: 10px">lock_open</mat-icon> Log out
            </button>
          </mat-tab>

          <mat-tab label="Add, Edit & Manage Data">
            <button mat-button *ngIf=" (!pageAsDemo) && !preview" (click)="openDataManagement()" style="margin-top: 10px">
              <mat-icon style="margin-right: 10px">zoom_out_map</mat-icon> Data management
            </button>
            <div *ngFor="let app of appMenuModel" >
              <button mat-button *ngIf="app.appGroup === 'add'" (click)="addAnotherApp(app.appType, true, app.appType)">
                <mat-icon style="margin-right: 10px" >{{app.id}}</mat-icon> {{app.name}}
              </button>
            </div>
          </mat-tab>

          <mat-tab label="Visualise">
            <div *ngFor="let app of appMenuModel" style="margin-top: 10px">
              <button mat-button *ngIf="app.appGroup === 'visualise'" (click)="addAnotherApp(app.appType, true, app.appType)">
                <mat-icon style="margin-right: 10px" >{{app.id}}</mat-icon> {{app.name}}
              </button>
            </div>
          </mat-tab>

          <mat-tab label="Microservice">
            <div *ngFor="let app of appMenuModel" style="margin-top: 10px">
              <button mat-button *ngIf="app.appGroup === 'microservice'" (click)="addAnotherApp(app.appType, true, app.appType)">
                <mat-icon style="margin-right: 10px" >{{app.id}}</mat-icon> {{app.name}}
              </button>
            </div>
          </mat-tab>

          <mat-tab label="Web Applications">
            <div *ngFor="let app of appMenuModel" style="margin-top: 10px">
              <button mat-button *ngIf="app.appGroup === 'application'" (click)="addAnotherApp(app.appType, true, app.appType)">
                <mat-icon style="margin-right: 10px" >{{app.id}}</mat-icon> {{app.name}}
              </button>
            </div>
          </mat-tab>

          <mat-tab label="Publish">
            <!--            <button mat-button *ngIf=" (!pageAsDemo) && !preview" (click)="updateTilePage()" >-->
            <!--              <mat-icon style="margin-right: 10px">dashboard</mat-icon> Windows or Tiles-->
            <!--            </button>-->
            <!--            <button mat-button *ngIf=" (!pageAsDemo) && !preview" (click)="showResponsiveWidthMenu = !showResponsiveWidthMenu" >-->
            <!--              <mat-icon style="margin-right: 10px">linear_scale</mat-icon> Tiles - Width: {{ page.chosenWidth }} px-->
            <!--            </button>-->
            <button mat-button *ngIf=" (!pageAsDemo) && !preview" (click)="publishAsTemplate()" (click)="page.publishedAsTemplate = true">
              <mat-icon style="margin-right: 10px">arrow_circle_up</mat-icon> Publish as template
            </button>
            <br>
            <button
              mat-button
              *ngIf=" (!pageAsDemo) && loggedIn"
              (click)="preview = !preview" >
              <mat-icon  style="margin-right: 10px">
                nature_people
              </mat-icon>
              {{!preview ? 'Publish Preview' : 'Edit view'}}
            </button>
          </mat-tab>

        </mat-tab-group>

        <table mat-table [dataSource]="dataSource" matSort *ngIf="!(dataSource === undefined ||  !(dataSource.filter && dataSource.filter.length > 0)) ">

          <!-- ID Column -->
          <ng-container matColumnDef="id"  >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Icon </th>
            <td mat-cell *matCellDef="let row" (click)="addAnotherApp(row.appType, true, row.appType)" style="cursor: pointer;">
              <button mat-button >
                <mat-icon style="margin-right: 10px" >{{row.id}}</mat-icon> {{row.name}}
              </button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="responsiveColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: responsiveColumns;"></tr>
        </table>

      </div>

    </div>

    <popup #appId
           [appIndex]="i"
           [app]="app"
           [pathsWithArrays]="app.pathsWithArrays"
           [showAppSettingsOnPublish]="!preview || showAppSettingsOnPublish"
           [preview]="preview && !showAppTitlesOnPublish"
           (sendTiledPositionBack) = "updateTiledPosition( $event )"
           [position]="'static'"
           [openAppArrayIndex]="i"
           (minimizeApp)="minimizeApp($event, app)"
           (sendAppCoordinatesBack)="updateAppCoordinates($event)"
           (sendAppSettingsBack)="updateAppSettings($event)"
           (sendAssignInputCommandBack)="openAssignInputDialog($event)"
           (closeAppEmitter)="closeApp( app.hash, i )"
           [tileAndSize]="app.tileAndSize"
           [fileOptions]="app.fileOptions"
           [description]="app.showDescription"
           [close]="app.close">

    </popup>

  </mat-card>
</div>

<mat-slider *ngIf="showResponsiveWidthMenu"
            style="width: 100%"
            [max]="innerWidth"
            [min]="0"
            [step]="10"
            [thumbLabel]="true"
            [(ngModel)]="page.chosenWidth">
</mat-slider>

<style>
  .i {
    color: #f7d336;
    position: relative;
  }
  .i:before {
    content: "ı";
    position: absolute;
    color: black;
  }
</style>

<div
  style=" position: fixed; top: 50%; left: 50%; margin-top: -100px; margin-left: -100px; z-index: -10000"
  class="text-center"
  *ngIf="!loggedIn && router.url.split('/')[ 1 ].search( 'actionID=' ) === -1">
  <h1  style="text-transform: none!important; font-size: 45px" >
    <span class=" i i:before " >i</span>nser<span class=" i i:before ">i</span>
  </h1>
  <div
    class=" text-muted"
    style="margin-bottom: 30px !important; margin-top: 20px !important; font-style: italic; font-size:16px;">
    {{ slogan }}
  </div>
</div>
