<button mat-button matTooltip="Go to My Files App" style="display: inline-block"
        (click)="this.mainFolder_id='-1';showFolders(); showForm(''); deleteFromBreadCrumb();">
  <mat-icon>home</mat-icon>
</button>

<button mat-button [matMenuTriggerFor]="menuFolder"><mat-icon>folder</mat-icon></button>
<mat-menu #menuFolder="matMenu">
  <button mat-menu-item matTooltip="Create new Folder" (click)="showForm('AddFolder');">
    <mat-icon>
      create_new_folder
    </mat-icon>
  </button>
  <button *ngIf="this.mainFolder_id!='-1'" mat-menu-item matTooltip="Update folder title" (click)="showForm('UpdateFolderTitle');">
    <mat-icon>edit</mat-icon>
  </button>
  <button *ngIf="this.mainFolder_id!='-1'" mat-menu-item  matTooltip="Delete folder" (click)="deleteFolder();">
    <mat-icon>delete</mat-icon>
  </button>
</mat-menu>

<button *ngIf="mainFolder_id!='-1'" mat-button [matMenuTriggerFor]="menuMore"><mat-icon>more_horiz</mat-icon></button>
<mat-menu #menuMore="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="menuFile" matTooltip="File" >
    <mat-icon>note_add</mat-icon>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuPageSet" matTooltip="PageSet" >
    <mat-icon>file_copy</mat-icon>
  </button>
  <!--button mat-menu-item [matMenuTriggerFor]="menuPage" matTooltip="Page" >
    <mat-icon>insert_drive_file</mat-icon>
  </button-->
  <button mat-menu-item matTooltip="Query" [matMenuTriggerFor]="menuQuery" >
    <mat-icon>receipt</mat-icon>
  </button>
  <input type="file" #filePicker (change)="onFileSelected($event)" style="visibility: hidden">
</mat-menu>

<mat-menu #menuFile="matMenu">
  <button mat-menu-item matTooltip="Add New File"(click)="filePicker.click();" >
    <mat-icon>add</mat-icon>
  </button>
  <button mat-menu-item matTooltip="Open with inseri app" >
    <mat-icon>open_with</mat-icon>
  </button>
</mat-menu>

<mat-menu #menuPageSet="matMenu">
  <button mat-menu-item matTooltip="Create New PageSet" >
   <mat-icon>add</mat-icon>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuPageSetItems" matTooltip="Add an Existing PageSet" (click)="getAllPageSetForUser();" >
    <mat-icon>link</mat-icon>
  </button>
</mat-menu>

  <mat-menu #menuPageSetItems="matMenu">
  <div *ngFor="let pageSet of allPageSetsOfUser" style="display: inline-block">
      <button   mat-menu-item (click)="addPageSetToFolder(pageSet);" >
        <mat-icon>add</mat-icon>
        {{pageSet.title}}
      </button>
  </div>
  </mat-menu>

<mat-menu #menuPage="matMenu">
  <button   mat-menu-item matTooltip="Create New Page" >
    <mat-icon>add</mat-icon>
  </button>
  <button   mat-menu-item matTooltip="Add an Existing Page" >
    <mat-icon>link</mat-icon>
  </button>
</mat-menu>

<mat-menu #menuQuery="matMenu">
  <button   mat-menu-item matTooltip="Create New Query"  (click)="this.getAllQueriesForUser()">
    <mat-icon>add</mat-icon>
  </button>
  <button   mat-menu-item matTooltip="Add an Existing Query" [matMenuTriggerFor]="menuQueriesItems" (click)="getAllQueriesForUser();">
    <mat-icon>link</mat-icon>
  </button>
</mat-menu>

<mat-menu #menuQueriesItems="matMenu">
  <div *ngFor="let query of allQueriesOfUser" style="display: inline-block">
    <button mat-menu-item (click)="addQueryToFolder( {id: query._id, title: query.title});" >
      <mat-icon>add</mat-icon>
      {{query.title}}
    </button>
  </div>
</mat-menu>

<br>
<div *ngFor="let folder of breadCrumbArray" style="display: inline-block">

  <button
    mat-button
    (click)="this.mainFolder_id = folder.id; deleteFromBreadCrumb();showFolders(); showForm('');">
    <mat-icon>arrow_right</mat-icon> {{ folder.title }}
  </button>

</div>

<div *ngIf="addFolderForm" style="margin-left: 15px">
      <mat-form-field class="example-form-field">
        <mat-label>Folder Name</mat-label>
        <input matInput type="text" [(ngModel)]="folder">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; showForm('');">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-button (click)="createNewFolder(folder); showForm(''); folder='' ">
        Create
      </button>
</div>

<div *ngIf="updateFolderTitleForm" style="margin-left: 15px">
  <mat-form-field class="example-form-field">
    <mat-label>Folder Name</mat-label>
    <input matInput type="text" [(ngModel)]="folder">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button (click)="updateFolderTitle(folder); updateBreadCrumb(folder); showForm(''); folder='' ">
    Update
  </button>
</div>


<div class="div">
  <div class="row">
    <div class="col-xs-12">
      <div *ngFor="let folderInstance of foldersArray">
        <button
          mat-button
          (click)=" this.mainFolder_id=folderInstance._id; showFolders();
          addToBreadCrumb(folderInstance.title);">
          <mat-icon>folder</mat-icon> {{ folderInstance.title }}
        </button>
        <!--input mat-input [(ngModel)]="folderInstance.title" *ngIf="updateFolderTitleForm">
        <button
          mat-menu-item
          (click)="updateFolderTitle(folderInstance._id, folderInstance.title)" *ngIf="folderInstance.updateTitle === true">
          Update folder title
        </button-->
      </div>
    </div>
  </div>
</div>

<div class="div">
  <div class="row">
    <div class="col-xs-12">
      <div *ngFor="let file of files" style="margin-left: 15px">
        <mat-icon> insert_drive_file</mat-icon>
        {{ file.title }}
        <button mat-button matTooltip="Delete File" (click)="deleteFile(file.id);">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <div class="row">
    <div class="col-xs-12">
      <div *ngFor="let pageSet of addedPageSets" style="margin-left: 15px">
        <mat-icon> file_copy</mat-icon>
        {{ pageSet.title }}
        <button mat-button matTooltip="Unlink PageSet from Folder" (click)="deletePageSetsFromFolder(pageSet);">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <div class="row">
    <div class="col-xs-12">
      <div *ngFor="let query of addedQueries" style="margin-left: 15px">
        <mat-icon> receipt</mat-icon>
        {{ query.title }}
        <button mat-button matTooltip="Unlink Query from Folder" (click)="deleteQueryFromFolder(query);">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
