<div *ngIf="textConfiguration && internalTextRootIri">
  <app-joined-text-block
    *ngIf="textConfiguration.blocks"
    [backendAddress]="backendAddress"
    [blockConfiguration]="textConfiguration.blocks"
    [parentIri]="internalTextRootIri"
    [highlighted]="highlighted"
    [styleDeclarations]="styleDeclarations"
    [selectiveStyleDeclarations]="selectiveStyleDeclarations"
    [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
    [(hoveredResource)]="hoveredResource">
  </app-joined-text-block>

  <app-joined-text-line
    *ngIf="textConfiguration.lines"
    [backendAddress]="backendAddress"
    [lineConfiguration]="textConfiguration.lines"
    [parentIri]="internalTextRootIri"
    [highlighted]="highlighted"
    [styleDeclarations]="styleDeclarations"
    [selectiveStyleDeclarations]="selectiveStyleDeclarations"
    [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
    [(hoveredResource)]="hoveredResource">
  </app-joined-text-line>
</div>
