<div style="margin-top: 30px">
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <h4 class="section-heading">NIE-OS Reset Passwort</h4>
                  <h6 *ngIf="loginError" style="color: #b05f56" class="section-subheading text-muted">Passwort ist falsch!</h6>
                  <p>The password should include at least an upper-case letter (A-Z), a lower-case letter (a-z),
                    a number (0-9) and one character of the following group: {{ neededSpecialCharacters }}</p>
                  <input
                    [(ngModel)]="password"
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="new password" >
                  <button (click)="resetPassword()" type="button" class="btn btn-xl">Reset</button>
                  <p *ngIf="wrongFormatAlert">The chosen password does not follow the requirements.</p>
                </div>
                <h6 *ngIf="resetSuccessfully" style="color: #5da45e" class="section-subheading text-muted">Password has been reset.</h6>
                <a *ngIf="resetSuccessfully" href="/">Go to login</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
