<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      [ngStyle]=" {
      'background-image': 'url(' + backgroundImage + ')',
      'background-size': 'cover'
      } " >

    </div>
    <mat-card-title>{{ myTitle }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    style="display: block; height: 275px; width: auto; margin-left: auto; margin-right: auto;"
    src="{{ image }}" >
<!--  <mat-card-content>-->
<!--    <p>-->
<!--      {{ myDescription }}-->
<!--    </p>-->
<!--  </mat-card-content>-->
  <mat-card-actions>
    <button mat-button (click)="navigateToSite()" >Explore site</button>
  </mat-card-actions>
</mat-card>
