<div style="height:100vh; margin-top: 40px; margin-left: 30px; display:inline; " >
  <button mat-button (click)="moveBack()" > <mat-icon>keyboard_arrow_left</mat-icon> </button>
    <mat-select placeholder="Choose resource instance" style="width: 350px">
      <mat-option *ngFor="let entry of dataChooserEntries; let i = index;" [value] = "i" (click)="chooseResource(i)">
        {{ showChosenEnrty( entry ) }}
      </mat-option>
    </mat-select>
  <button mat-button (click)="moveForward()"> <mat-icon>keyboard_arrow_right</mat-icon> </button>
</div>
