<h2>Add new synopsis object</h2>
<form>
  <mat-form-field class="full-width">
    <input matInput class="input-field" placeholder="Synopsis Object" aria-label="Synopsis Object" [matAutocomplete]="auto" [formControl]="objectCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let obj of filteredObjects | async; let i = index;" [value]="obj.name + '-' + i">
        <img style="vertical-align:middle;" src="{{obj.src}}" height="25" />
        <span>{{ obj.name }}</span> |
        <small>{{obj.htmlText}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <p>
    <button mat-button (click)="saveAndCloseDialog()">Ok</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </p>
</form>
