<div *ngFor="let b of blocks" [ngStyle]="getStyleDict('styleKeys')">

  <app-joined-text-block
    *ngIf="blockConfiguration.blocks"
    [parentIri]="b['@id']"
    [backendAddress]="backendAddress"
    [blockConfiguration]="blockConfiguration.blocks"
    [highlighted]="highlighted"
    [styleDeclarations]="styleDeclarations"
    [selectiveStyleDeclarations]="selectiveStyleDeclarations"
    [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
    [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
  </app-joined-text-block>

  <app-joined-text-line
    *ngIf="blockConfiguration.lines"
    [parentIri]="b['@id']"
    [backendAddress]="backendAddress"
    [lineConfiguration]="blockConfiguration.lines"
    [highlighted]="highlighted"
    [styleDeclarations]="styleDeclarations"
    [selectiveStyleDeclarations]="selectiveStyleDeclarations"
    [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
    [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
  </app-joined-text-line>

  <app-joined-text-linepart
    *ngIf="blockConfiguration.lineparts"
    [parentIri]="b['@id']"
    [backendAddress]="backendAddress"
    [linepartConfiguration]="blockConfiguration.lineparts"
    [highlighted]="highlighted"
    [styleDeclarations]="styleDeclarations"
    [selectiveStyleDeclarations]="selectiveStyleDeclarations"
    [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
    [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
  </app-joined-text-linepart>

  <app-joined-text-textwrapper
    *ngIf="blockConfiguration.contentPropertyIri"
    [namespaces]="namespaces"
    [propertyIri]="blockConfiguration.contentPropertyIri"
    [resource]="b"
    [highlighted]="highlighted"
    [styleDeclarations]="styleDeclarations"
    [selectiveStyleDeclarations]="selectiveStyleDeclarations">
  </app-joined-text-textwrapper>

  <ng-container *ngIf="blockConfiguration.contentProperty">
    <ng-container *ngIf="blockConfiguration.contentProperty === 'self'">
      <app-joined-text-textwrapper
        *ngIf="blockConfiguration.propertyIri"
        [namespaces]="namespaces"
        [propertyIri]="blockConfiguration.propertyIri"
        [resource]="b"
        [highlighted]="highlighted"
        [styleDeclarations]="styleDeclarations"
        [selectiveStyleDeclarations]="selectiveStyleDeclarations">
      </app-joined-text-textwrapper>
    </ng-container>
  </ng-container>

</div>
