<h1 mat-dialog-title>Erstelle einer neuen Page</h1>

<div class="col-md-6 col-md-offset-3">

  <mat-form-field class="full-width">
    <textarea matInput [(ngModel)]="data.title" value="data.title"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput [(ngModel)]="data.description" value="data.description"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput [(ngModel)]="data.image" value="data.image"></textarea>
  </mat-form-field>

  <div>
    <button mat-button (click)="save()">Ok</button>
    <button mat-button (click)="cancel()">Abbrechen</button>
  </div>

</div>
