<h1 mat-dialog-title>Bearbeiten der Page Set</h1>

<div class="col-md-6 col-md-offset-3">

  <mat-form-field class="full-width">
    <textarea matInput [(ngModel)]="data.title" value="data.title"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput [(ngModel)]="data.description" value="data.description"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput [(ngModel)]="data.linkToImage" value="data.linkToImage"></textarea>
  </mat-form-field>

  <div>
    <button mat-button (click)="save()">Ok</button>
    <button mat-button (click)="cancel()">Abbrechen</button>
  </div>

</div>
