<div style="margin-top: 30px">
  <h3>Impressum für NIE-OS / die NIE-Plattform hostet unter nie-ine.ch</h3>
  NIE-INE: Nationale Infrastruktur für Editionen – Infrastructure nationale pour les editions <br>
  Prof. Dr. Markus Wild | Leiter NIE-INE siwssuniversities https://www.nie-ine.ch <br>
  c/o Universitätsbibliothek Basel, Schönbeinstrasse 18-20, 4065 Basel <br>
  nie-ine@unibas.ch<br>

  <div style="margin-top: 30px; margin-bottom: 30px;">&nbsp;&nbsp;</div>

  <h4>Nutzungsbedingungen für die NIE-Plattform hostet unter nie-ine.ch</h4>

  <div [innerHtml]="termsAndConditions.nutzungsbedingungen" ></div>

  <div id="datenschutz" style="margin-top: 30px; margin-bottom: 30px;">&nbsp;&nbsp;</div>
  <h4> Datenschutzerklärung für die NIE-Plattform hostet unter nie-ine.ch</h4>

  <div [innerHtml]="termsAndConditions.datenschutzbestimmungen"></div>



</div>
