$containerHeight: 400px;
$filesHeight: $containerHeight * 0.7;
$urlsHeight: $containerHeight * 0.3;
$backgroundGrey: #F5F5F5;

#wrapper {
  width: 100%;
  overflow: hidden;
}

#input {
  width: 550px;
  float: left;
  margin-right: 50px;
}

#results {
  overflow: hidden;
  // background-color: $backgroundGrey;
}

.input_container {
  position: relative;
  height: $containerHeight;
}

.files {
  position: relative;
  height: $filesHeight;
}

.file_list {
  position: relative;
  height: $filesHeight * 0.75;
  background-color: $backgroundGrey;
  padding: 5px;
  margin-bottom: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.urls textarea {
  position: relative;
  height: $urlsHeight;
  background-color: $backgroundGrey;
}
#data_url_list {
  resize: none;
  padding: 5px;
}
#rule_url_list {
  resize: none;
  padding: 5px;
}
#query_url_list {
  resize: none;
  padding: 5px;
}

#param_list {
  position: relative;
  height: $urlsHeight * 0.5;
  background-color: $backgroundGrey;
  padding: 5px;
  margin: 5px 0 15px 0;
  resize: none;
}

.file_chip {
  height: 32px;
  padding: 7px 8px 7px 12px;
  margin-bottom: 5px;
  border-radius: 25px;
  background-color: #C6C6C6;
}

.the_spinner {
  display: none;
}
