<div>
  <mat-tab-group animationDuration="500ms">
    <mat-tab label="Data">
      <div class="source_container">
        <div class="files">
          <div #data_uploads class="file_list" [innerHTML]="this.data_bowl" ng-change="wtf()"></div>
          <input #hidden_upl_data style="display:none" type="file" (change)="onFileSelect($event, 'data')" multiple>
          <button mat-raised-button (click)="hidden_upl_data.click()">Select data files</button>
        </div>
        <div class="urls">
          <textarea matInput id="data_list" aria-label="list of data URLs" placeholder="...or you can insert data URLs here (line by line)"></textarea>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Rules">
      <div class="source_container">
        <div class="files">
          <div #rule_uploads class="file_list" [innerHTML]="this.rule_bowl"></div>
          <input #hidden_upl_rule style="display:none" type="file" (change)="onFileSelect($event, 'rule')" multiple>
          <button mat-raised-button (click)="hidden_upl_rule.click()">Select rule files</button>
        </div>
        <div class="urls">
          <textarea matInput id="rule_list" aria-label="list of rule URLs" placeholder="...or you can insert rule URLs here (line by line)"></textarea>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Queries">
      <div class="source_container">
        <div class="files">
          <div #query_uploads class="file_list" [innerHTML]="this.query_bowl"></div>
          <input #hidden_upl_query style="display:none" type="file" (change)="onFileSelect($event, 'query')" multiple>
          <button mat-raised-button (click)="hidden_upl_query.click()">Select query files</button>
        </div>
        <div class="urls">
          <textarea #query_list matInput aria-label="list of query URLs" placeholder="...or you can insert query URLs here (line by line)"></textarea>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <hr>
  <div id="parameters">
    <span class="param">The parameters (currently readonly)</span>
    <textarea id="param_list" matInput aria-label="reasoning parameters" readonly>--nope</textarea>
  </div>
  <button #reason mat-raised-button>Reason</button>
</div>
