.scaleBarChartWidth {
  margin: 10px 0 0 30px;
  width: 128px;
  overflow: hidden;
}

.selectBarChartRange {
  margin: 10px 0 0 30px;
  width: 128px;
  overflow: hidden;
}

.bar {
  fill: #FED136;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.barChartContainer {
  position: relative;
}

.barChartYaxis {
  position: absolute;
  float: left;
  z-index: 3;
}

.barChartChart {
  position: relative;
  overflow-x: auto;
}

.sortBarChart {
  margin:0 0 0 30px;
}

/* tooltip */
.barChartTooltip {
  position: fixed;
  display: none;
  text-align: center;
  z-index: 4;
}

.custom-slider {
  .ngx-slider {
    margin: 23px 0 15px;
    .ngx-slider-bar {
      background: #BDBDBD;
      height: 2px;
    }
    .ngx-slider-selection {
      background: #ff4081;
    }
    .ngx-slider-pointer {
      width: 14px;
      height: 14px;
      top: -7px;
      background-color: #ff4081;
      border-radius: 10px;
      cursor: grab;
    }
    .ngx-slider-floor {
      display: none;
    }
    .ngx-slider-ceil {
      display: none;
    }
    .ngx-slider-model-value {
      display: none;
    }
    .ngx-slider-model-high {
      display: none;
    }
    .ngx-slider-combined {
      display: none;
    }
    .ngx-slider-pointer-min::after {
      display: none;
    }
    .ngx-slider-pointer-max::after {
      display: none;
    }

  }
}
