<mat-spinner *ngIf="isLoading"></mat-spinner>

<!--<div class="col-md-6 col-md-offset-3">-->
  <form [formGroup]="form" (ngSubmit)="save()" *ngIf="!isLoading">

    <!--h5 style="display: inline-block">Create new</h5-->

    <div>
      <label style="display: inline-block">Create new Page</label>
      <!--mat-radio-group
        style="margin-bottom: 30px" style="display: inline-block; margin-left: 15px;" [formControl]="subPage" >
        <mat-radio-button value="false" [checked]="true">page</mat-radio-button>
        <mat-radio-button value="true" style="margin-left: 20px">subpage</mat-radio-button>
      </mat-radio-group-->
    </div>

    <!--<mat-radio-group
      style="margin-bottom: 30px" style="display: inline-block; margin-left: 15px;"
      [(ngModel)]="subPage">
      <mat-radio-button class="example-radio-button" *ngFor="let op of listOfOptions" [value]="op.name" >
        {{op.name}}
      </mat-radio-button>"
    </mat-radio-group>"-->
    <div>
      <mat-form-field class="full-width">
        <input formControlName="title" matInput placeholder="Titel">
        <mat-error>Title has to be entered</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea formControlName="description" matInput placeholder="Beschreibung"></textarea>
        <mat-error>Description has to be entered</mat-error>
      </mat-form-field>



      <div>


        <button type="button" mat-button (click)="cancel()">Abbrechen</button>
        <button type="submit" mat-button [disabled]="form.invalid">Create</button>


      </div>

    </div>
  </form>
<!--</div>-->
