<mat-spinner *ngIf="isLoading"></mat-spinner>

<!--<div class="col-md-6 col-md-offset-3">-->
  <form [formGroup]="form" (ngSubmit)="save()" *ngIf="!isLoading">
    <h1 mat-dialog-title>Neue Page erstellen</h1>
    <div>
      <mat-form-field class="full-width">
        <input formControlName="title" matInput placeholder="Titel">
        <mat-error>Titel muss eingegeben werden</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea formControlName="description" matInput placeholder="Beschreibung"></textarea>
        <mat-error>Beschreibung muss eingegeben werden</mat-error>
      </mat-form-field>

      <div>
        <button type="button" mat-button (click)="cancel()">Abbrechen</button>
        <button type="submit" mat-button [disabled]="form.invalid">Ok</button>
      </div>

    </div>
  </form>
<!--</div>-->
