<div>
  
  <div>
    <select [(ngModel)]="selectedVocabulary" (ngModelChange)="resetVocabulary()">
      <option value="">
        Select vocabulary
      </option>
      <option *ngFor="let v of vocabularies" [value]="v[ 'uri' ]">
        {{ v[ 'shortname' ] }}
      </option>
    </select>
    <p>{{ selectedVocabularyDescription }}</p>
  </div>
  
  <hr/>
  
  <div *ngIf="selectedVocabulary != ''">
    <select [(ngModel)]="selectedResourceClass" (ngModelChange)="resetResourceClass()">
      <option value="">
        Select resource class
      </option>
      <option *ngFor="let c of resourceClasses" [value]="c[ 'id' ]">
        {{ c[ 'label' ] }}
      </option>
    </select>
    <p>{{ selectedResourceClassDescription }}</p>
  </div>
  
  <hr *ngIf="selectedVocabulary != ''" />
  
  <table *ngIf="selectedResourceClass != ''">
    <tr>
      <td>
        Label:
      </td>
      <td>
        <input [(ngModel)]="resourceLabel"/>
      </td>
    </tr>
    
    <tr *ngFor="let p of selectedProperties, let i = index">
      <td [title]="p[ 'structure' ][ 'description' ]">{{ p[ 'structure' ][ 'label' ] }}:</td>     
      <td>
        <ng-container 
          *ngIf="p['structure']['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#TextValue'">
          <input [(ngModel)]="selectedProperties[i]['value']" type="text"/>
        </ng-container>

        <ng-container 
          *ngIf="p['structure']['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#IntValue'">
          <input [(ngModel)]="selectedProperties[i]['value']" type="number"/>
        </ng-container>

        <ng-container 
          *ngIf="p['structure']['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#DecimalValue'">
          <input [(ngModel)]="selectedProperties[i]['value']" type="number"/>
        </ng-container>

        <ng-container 
          *ngIf="p['structure']['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#BooleanValue'">
          <input [(ngModel)]="selectedProperties[i]['value']" type="checkbox"/>
        </ng-container>

        <ng-container 
          *ngIf="p['structure']['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#DateValue'">
          <app-create-date-value (dateValue)="setDate($event, i)">
          </app-create-date-value>
        </ng-container>

        <ng-container 
          *ngIf="p['structure']['valuetype_id'] == 'http://www.knora.org/ontology/knora-base#LinkValue'">
          <app-create-link-value [property]="p['structure']" 
                                 (resourceIRI)="setLink($event, i)">
          </app-create-link-value>
        </ng-container>
      </td>
      <td>
        <button (click)="deleteProperty(i)">del</button>
      </td>
    </tr>
    
    <tr>
      <td>+</td>
      <td>
        <select *ngIf="showPropertySelect" [ngModel]="dropdownProperty" (ngModelChange)="addProperty($event)">
          <option value="">
            Select property
          </option>
          <option *ngFor="let p of properties" [value]="p [ 'id' ]">
            {{ p[ 'label' ]}}
          </option>
        </select>
      </td>
    </tr>
  </table>
    
  <div *ngIf="resourceLabel != ''">
    <button (click)="postResource()">
      Save
    </button>
  </div>

</div>
      