.avp-interlinear-glossing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.avp-interlinear-glossing-token {
  margin: 2px 2px 2px 0;
}

.avp-interlinear-glossing-form {
  font-style: italic;
  margin: 4px 0;
}

.avp-interlinear-glossing-annotation {
  margin: 4px 0;
  font-size: 80%;
}
