<h4 *ngIf="resource && resource['resinfo']['restype_label']">
  {{ resource['resinfo']['restype_label'] }}
</h4>

<table *ngIf="resource">

  <!-- Show or edit resource label -->
  <tr *ngIf="resource['resinfo']['firstproperty']">
    <td>Label</td>

    <td>
      <ng-container *ngIf="focusedValue != 'label'">

          {{ resource['resinfo']['firstproperty'] }}

      </ng-container>
      <ng-container *ngIf="focusedValue == 'label'">
        
        <input type="text" [(ngModel)]="focusedValueContent"/>

      </ng-container>
    </td>

    <td *ngIf="editRights">
      <ng-container *ngIf="focusedValue != 'label'">
        <button (click)="activateValue('label', resource['resinfo']['firstproperty'])">Edit</button>
      </ng-container>

      <ng-container *ngIf="focusedValue == 'label'">
        <button (click)="resetLabel()">Save</button>
        <button (click)="activateValue('', null)">Cancel</button>
      </ng-container>
    </td>

    <td>
    </td>
  </tr>  

  <!-- Show or change regular properties -->
  <ng-container *ngIf="resource['props'] != undefined">
    <ng-container *ngFor="let p of propKeys; let i = index"> 
      
      <!-- show and change existing value and show old values -->
      <ng-container *ngFor="let v of resource['props'][p]['value_ids']; let j = index">
        
        <!-- show and change exisiting value -->
        <tr>
          <td>
            {{ resource['props'][p]['label'] }}
          </td>
          
          <td>
            <ng-container *ngIf="focusedValue != v">
              
              <ng-container [ngSwitch]="resource['props'][p]['valuetype_id']">
                
                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#TextValue'">
                  {{ resource['props'][p]['values'][j]['utf8str'] }}
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#IntValue'">
                  {{ resource['props'][p]['values'][j] }}
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#DecimalValue'">
                  {{ resource['props'][p]['values'][j] }}
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#BooleanValue'">
                  {{ resource['props'][p]['values'][j] }}
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#DateValue'">
                  <app-date-value-viewer [propertyValue]="resource['props'][p]['values'][j]">
                  </app-date-value-viewer>
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#LinkValue'">
                  {{ resource['props'][p]['value_firstprops'][j] }}
                </ng-container>
                
                <ng-container *ngSwitchDefault>
                  type not supported                
                </ng-container>

              </ng-container>
            </ng-container>
            <ng-container *ngIf="focusedValue == v">
              <ng-container [ngSwitch]="resource['props'][p]['valuetype_id']">
                
                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#TextValue'">
                  <app-text-value-editor [oldValue]="resource['props'][p]['values'][j]"
                                         (textValue)="setValue($event)">
                  </app-text-value-editor>
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#IntValue'">
                  <app-int-value-editor [oldValue]="resource['props'][p]['values'][j]"
                                        (intValue)="setValue($event)">
                  </app-int-value-editor>
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#DecimalValue'">
                  <app-decimal-value-editor [oldValue]="resource['props'][p]['values'][j]"
                                            (decimalValue)="setValue($event)">
                  </app-decimal-value-editor>
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#BooleanValue'">
                  <app-boolean-value-editor [oldValue]="resource['props'][p]['values'][j]"
                                            (booleanValue)="setValue($event)">
                  </app-boolean-value-editor>
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#DateValue'">
                  <app-date-value-editor [oldValue]="resource['props'][p]['values'][j]"
                                         (dateValue)="setValue($event)"></app-date-value-editor>
                </ng-container>

                <ng-container 
                  *ngSwitchCase="'http://www.knora.org/ontology/knora-base#LinkValue'">
                  <app-link-value-editor [targetClass]="resource['props'][p]['attributes']"
                                         (linkValue)="setValue($event)"></app-link-value-editor>
                </ng-container>
                          
                <ng-container *ngSwitchDefault>
                  type not supported                
                </ng-container>

              </ng-container>
            </ng-container>
          </td>
          
          <td *ngIf="editRights">
            <ng-container *ngIf="focusedValue != v">
              <button (click)="activateValue(v, resource['props'][p]['values'][j])">Edit</button>
            </ng-container>
            
            <ng-container *ngIf="focusedValue == v">
              <button (click)="changeProperty(p, v)">Save</button>
              <button (click)="deleteProperty(v)">Delete property</button>
              <button (click)="activateValue('', null)">Cancel</button>
            </ng-container>
          </td>
          
          <td>
            <ng-container *ngIf="valuesWithShownHistory.has(v)">
              <button (click)="hideValueHistory(v)">History</button>
            </ng-container>   
            <ng-container *ngIf="!valuesWithShownHistory.has(v)">
              <button (click)="activateValueHistory(v)">History</button>
            </ng-container>  
          </td>
        </tr>  
        
        <!-- old values -->
        <tr *ngIf="valuesWithShownHistory.has(v)">
          <td></td>
          <td colspan="2">
            <app-resource-value-history [resourceIRI]="resourceIRI"
                                      [propertyTypeIRI]="p"
                                      [valueID]="v">
            </app-resource-value-history>
          </td>

        </tr>
      </ng-container>
      
      <!-- add new value -->
      <tr *ngIf="editRights">
        <td>{{ resource['props'][p]['label']}}</td>

        <td>
          <ng-container *ngIf="focusedValue != p">

            <button (click)="activateValue(p, null)">Add</button>

          </ng-container>
          <ng-container *ngIf="focusedValue == p">
            
            <ng-container [ngSwitch]="resource['props'][p]['valuetype_id']">
              
              <ng-container 
                *ngSwitchCase="'http://www.knora.org/ontology/knora-base#TextValue'">
                <app-text-value-editor (textValue)="setValue($event)">
                </app-text-value-editor>
              </ng-container>

              <ng-container 
                *ngSwitchCase="'http://www.knora.org/ontology/knora-base#IntValue'">
                <app-int-value-editor (intValue)="setValue($event)">
                </app-int-value-editor>
              </ng-container>

              <ng-container 
                *ngSwitchCase="'http://www.knora.org/ontology/knora-base#DecimalValue'">
                <app-decimal-value-editor (decimalValue)="setValue($event)">
                </app-decimal-value-editor>
              </ng-container>

              <ng-container 
                *ngSwitchCase="'http://www.knora.org/ontology/knora-base#BooleanValue'">
                <app-boolean-value-editor (booleanValue)="setValue($event)">
                </app-boolean-value-editor>
              </ng-container>

              <ng-container 
                *ngSwitchCase="'http://www.knora.org/ontology/knora-base#DateValue'">
                <app-date-value-editor (dateValue)="setValue($event)"></app-date-value-editor>
              </ng-container>

              <ng-container 
                *ngSwitchCase="'http://www.knora.org/ontology/knora-base#LinkValue'">
                <app-link-value-editor [targetClass]="resource['props'][p]['attributes']"
                                       (linkValue)="setValue($event)">
                </app-link-value-editor>
              </ng-container>

              <ng-container *ngSwitchDefault>
                type not supported                
              </ng-container>

            </ng-container>
          </ng-container>
        </td>

        <td *ngIf="editRights">

          <ng-container *ngIf="focusedValue == p">
            <button (click)="addProperty(p)">Save</button>
            <button (click)="activateValue('', null)">Cancel</button>
          </ng-container>
        </td>

        <td>
        </td>
      </tr>
      
    </ng-container>
  </ng-container>
</table>

<ng-container *ngIf="editRights">
  <button *ngIf="resource" 
        (click)="deleteResource()">
    Delete resource
  </button>
</ng-container>
