<mat-form-field class="example-form-field" style="width: 100%; margin-top: 20px;">
  <mat-label>New comment</mat-label>
  <textarea matInput type="text" [(ngModel)]="newComment"></textarea>
</mat-form-field>

<br>

<button mat-button (click)="addComment()" (keyup.enter)="addComment()">
  Add comment
</button>

<mat-card
  *ngFor="let comment of commentArray.slice().reverse()"
  style="margin-top: 15px"
  (click)="browseToComment( comment )" style="cursor: pointer">

  <mat-divider ></mat-divider>

  <mat-card-header style="margin-top: 15px">
    <mat-card-subtitle>
      {{ comment.user + ' | ' +  comment.date }}

      <div *ngFor="let query of comment.queries">
        {{ 'Querytitle: ' + query.title + ', index: ' + query.index  }}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ comment.commentText }}
    </p>
  </mat-card-content>

</mat-card>
