// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$other-theme-primary: mat-palette($mat-light-blue);
$other-theme-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$other-theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$other-theme: mat-light-theme($other-theme-primary, $other-theme-accent, $other-theme-warn);
