// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$standard-theme-primary: mat-palette($mat-red);
$standard-theme-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$standard-theme-warn: mat-palette($mat-green);

// Create the theme object (a Sass map containing all of the palettes).
$standard-theme: mat-light-theme($standard-theme-primary, $standard-theme-accent, $standard-theme-warn);
