<!-- Header -->
<!--<header>-->
  <!--<div id="top" class="container">-->
    <!--<div class="intro-text">-->
      <!--<div class="intro-lead-in">Arbeits - und Publikationsplattform für Editionen</div>-->
      <!--<div class="intro-heading">Langfristig Verfügbar</div>-->
      <!--<a href="home#login" class="page-scroll btn btn-xl">Get Started</a>-->
      <!--<span style="margin-left: 20px"></span>-->
      <!--<a href="/page" class="page-scroll btn btn-xl">NIEOS Demo</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->

<!--&lt;!&ndash; Services Section &ndash;&gt;-->
<!--<section id="funktionen">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-12 text-center">-->
        <!--<h2 class="section-heading">Verfügbare Funktionen</h2>-->
        <!--<h3 class="section-subheading text-muted">Funktionen, die bereits in NIE-OS zur Verfügung stehen.</h3>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-4">-->
                    <!--<span class="fa-stack fa-4x">-->
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <!--<i class="fa fa-file-text fa-stack-1x fa-inverse"></i>-->
                    <!--</span>-->
        <!--<h4 class="service-heading">Testen Sie unsere Apps</h4>-->
        <!--<p class="text-muted">Apps dienen Ihnen zur Darstellung und Bearbeitung Ihrer Daten und können beliebig kombiniert-->
        <!--und geöffnet auf einer Page abgespeichert werden. Für die von Ihnen angestrebte online - representation</p>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
                  <!--<span class="fa-stack fa-4x">-->
                      <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                      <!--<i class="fa fa-ruble fa-stack-1x fa-inverse"></i>-->
                  <!--</span>-->
        <!--<h4 class="service-heading">Erstellen Sie Mockups in Form von pageSets </h4>-->
        <!--<p class="text-muted">pageSets bestehen aus einer Menge von Pages, auf der vom User angeordnete Apps geöffnet abgespeichert-->
          <!--werden. </p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->


<!--<section id="about">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-12 text-center">-->
        <!--<h2 class="section-heading text-uppercase">Funktionen in der Entwicklung</h2>-->
        <!--<h3 class="section-subheading text-muted">NIE-OS befindet sich in der Entwicklung. In der folgenden Reihenfolge werden Funktionen zur Verfügung gestellt werden.</h3>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-lg-12">-->
        <!--<ul class="timeline">-->
          <!--<li>-->
            <!--<div class="timeline-image">-->

                <!--<span class="fa-stack fa-4x" style="margin-top: 20px">-->
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <!--<i class="fa fa-database fa-stack-1x fa-inverse"></i>-->
                <!--</span>-->

            <!--</div>-->
            <!--<div class="timeline-panel">-->
              <!--<div class="timeline-heading">-->
                <!--<h4>Arbeiten mit Ihren Daten</h4>-->
              <!--</div>-->
              <!--<div class="timeline-body">-->
                <!--<p class="text-muted">Verbinden Sie Ihre Datenbank mit einer NIE-OS Page und Stellen Sie Ihre Daten mit Hilfe der Apps dar.</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="timeline-inverted">-->
              <!--<div class="timeline-image">-->

                <!--<span class="fa-stack fa-4x" style="margin-top: 20px">-->
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <!--<i class="fa fa-file-text fa-stack-1x fa-inverse"></i>-->
                <!--</span>-->

            <!--</div>-->
            <!--<div class="timeline-panel">-->
              <!--<div class="timeline-heading">-->
                <!--<h4>Editionsspezifische Apps</h4>-->
              <!--</div>-->
              <!--<div class="timeline-body">-->
                <!--<p class="text-muted">NIE-INE entwickelt editionsspezifische Apps zur spezifischen Darstellung der Editionsdaten.</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="timeline-image">-->
              <!--<div class="timeline-image">-->

                <!--<span class="fa-stack fa-4x" style="margin-top: 20px">-->
                  <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                  <!--<i class="fa fa-group fa-stack-1x fa-inverse"></i>-->
                <!--</span>-->

              <!--</div>-->
            <!--<div class="timeline-panel">-->
              <!--<div class="timeline-heading">-->
                <!--<h4>Kollaborative Datenbearbeitung</h4>-->
              <!--</div>-->
              <!--<div class="timeline-body">-->
                <!--<p class="text-muted">Generische und individuell anpassbare Arbeitsabläufe für Editionen werden zur Verfügung gestellt. Auf verschiedenen Pages werden verschiedene Arbeitsabläufe-->
                <!--vorgenommen, die einander zugewiesen werden können.</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="timeline-inverted">-->
            <!--<div class="timeline-image">-->
              <!--<h4>NIE-OS-->
                <!--<br>alpha-->
                <!--<br>release</h4>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!-- Contact Section -->
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">NIE-OS Login</h2>
        <h3 class="section-subheading text-muted">Sie haben keinen Useraccount?
          Zögern Sie nicht, uns zu <a href="http://www.nie-ine.ch" target="_blank">kontaktieren!</a>  Oder <a  href="register">registrieren</a> Sie sich!</h3>
        <h6 *ngIf="loginError" style="color: #b05f56" class="section-subheading text-muted">Username oder Passwort ist falsch!</h6>
        <h5 *ngIf="deletedAccount" style="color: #b05f56" class="section-subheading text-muted">Your account has been deleted.
          You can restore it for the next 30 days with the help of the email that you have received.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  [(ngModel)]="username"
                  name="Email"
                  type="email"
                  class="form-control"
                  placeholder="Email" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input
                  *ngIf="!forgotPassword"
                  [(ngModel)]="password"
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Password" >
                <p class="help-block text-danger"></p>
                <span
                  *ngIf="forgotPassword"
                  class="section-subheading text-muted "> You will get an Email with a Link to restore your password</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button
                *ngIf="!forgotPassword"
                (click)="startLoginProcess()"
                type="submit"
                class="btn btn-xl">Login</button>
              <button
                *ngIf="forgotPassword"
                (click)="restorePassword()"
                type="button"
                class="btn btn-xl">Send Email</button>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="forgotPassword"></div>
              <h2 class="section-heading"></h2>
              <mat-checkbox
                class="section-subheading text-muted "
                style="margin-top: 20px"
                (click)="forgotPassword = !forgotPassword">Passwort vergessen?</mat-checkbox>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer style="margin-top: 100px">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; NIE-INE 2019</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="http://www.nie-ine.ch"><i class="fa fa-users"></i></a>
          </li> - About us
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="/impressum">Impressum, Nutzungsbedingungen</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>

