<nav id="mainNav" class="navbar navbar-default  navbar-fixed-top">
  <div  class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <a class="navbar-brand page-scroll" href="dashboard#top" *ngIf="!isUserOnDash()">↥</a>
      <a class="navbar-brand page-scroll" href="{{ generateLeftHeaderStringLink() }}" >{{ generateLeftHeaderString() }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li *ngIf="hashOfThisView" >
          <a> <span *ngIf="lastView" (click)="navigateToOtherView( lastView )" matTooltip="{{ produceLeftArrowTooltip() }}" > &larr; </span> &nbsp;
            <span matTooltip="{{ produceCurrentViewDescription() }}" >{{ produceCurrentViewTitle() }}</span> &nbsp;
            <span *ngIf="nextView" matTooltip="{{ produceRightArrowTooltip() }}" (click)="navigateToOtherView( nextView )" >&rarr;</span></a>
        </li>
        <li class="navbar-list">
          <a href="home#funktionen" >{{ generateFunktionenHomeLink() }}</a>
        </li>
        <li class="navbar-list">
          <a>Sprache</a>
        </li>
        <li class="navbar-list" *ngIf="userIsAuthenticated">
          <a style="color: #4cae4c !important" (click)="openSettingsDialog()">Einstellungen</a>
        </li>
        <li class="navbar-list">
          <a (click)="loginOrLogout()">{{ loginOrLogoutButton() }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
