<mat-spinner *ngIf="isLoading"></mat-spinner>

<div style="margin-top: 30px" *ngIf="!isLoading">

  <button mat-button (click)="close()">
    Close this Menu
  </button>

  <table mat-table [dataSource]="queries">

    <ng-container matColumnDef="query">
      <th mat-header-cell *matHeaderCellDef> Query </th>
      <td mat-cell *matCellDef="let item">
        <button mat-button (click)="openQueryEntry(item)"> {{item?.title}} <mat-icon>settings</mat-icon>  </button>
      </td>

    </ng-container>

    <ng-container matColumnDef="{{app.hash}}" *ngFor="let app of openApps; let i = index">
        <th mat-header-cell *matHeaderCellDef> {{ app.type + ' ' + i }} </th>
        <td mat-cell *matCellDef="let item">
          <div *ngIf="item.abstractResponse">
            <mat-chip-list *ngFor="let input of inputs; let i = index;" style="margin-left: 2px; display: inline-block;">
              <mat-chip
                (click)="assignInputToQuery( input.inputName, app.hash, item.query )"
                *ngIf="!checkIfChosen( input.inputName, app.hash, item.query )">
                {{input.inputName}}
              </mat-chip>
              <mat-chip
                [color]="'primary'" selected
                *ngIf="checkIfChosen( input.inputName, app.hash, item.query )" (click)="unSelectChip( input.inputName, app.hash, item.query )">
                {{input.inputName}}
              </mat-chip>
            </mat-chip-list>
            <mat-chip
              *ngIf="checkIfRowIsChosen( app.hash, item.query )"
              selected
              [color]="'accent'" (click)="openQueryAppInputMapDialog( app, item )">
              map
            </mat-chip>
          </div>
          <div *ngIf="!item.abstractResponse">
            <button mat-button color="warn">No query defined</button>
            <!--<mat-chip-list *ngFor="let input of inputs; let i = index;" style="margin-left: 2px; display: inline-block;">-->
              <!--<mat-chip-->
                <!--(click)="assignInputToQuery( input.inputName, app.hash, item.query )"-->
                <!--*ngIf="!checkIfChosen( input.inputName, app.hash, item.query )">-->
                <!--{{input.inputName}}-->
              <!--</mat-chip>-->
              <!--<mat-chip-->
                <!--[color]="'primary'" selected-->
                <!--*ngIf="checkIfChosen( input.inputName, app.hash, item.query )" (click)="unSelectChip( input.inputName, app.hash, item.query )">-->
                <!--{{input.inputName}}-->
              <!--</mat-chip>-->
            <!--</mat-chip-list>-->
            <!--<mat-chip-->
              <!--*ngIf="checkIfRowIsChosen( app.hash, item.query )"-->
              <!--selected-->
              <!--[color]="'accent'" (click)="openQueryAppInputMapDialog( app, item )">-->
              <!--map-->
            <!--</mat-chip>-->
          </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let item">
        <button mat-button (click)="delete(item)" mat-icon-button><mat-icon>close</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

  </table>


</div>


<mat-form-field class="example-form-field" *ngIf="!isLoading">
  <input matInput type="text" placeholder="Add Query" [(ngModel)]="value">
</mat-form-field>
<button mat-button *ngIf="value" mat-icon-button (click)="addQuery(value)">
  <mat-icon>arrow_downwards</mat-icon>
</button>


