<span *ngIf="linepartConfiguration.prefix">{{ linepartConfiguration.prefix }}</span><span
  *ngFor="let l of lineparts; let i = index"
  (click)="clickLinepart(l['@id'])"
  (mouseenter)="hoverOntoLinepart(l['@id'])"
  (mouseleave)="hoverOutOfLinepart()"><span *ngIf="linepartConfiguration.interfix && i !== 0">{{ linepartConfiguration.interfix }}</span>

  <app-joined-text-linepart
    *ngIf="linepartConfiguration.lineparts"
    [parentIri]="l['@id']"
    [backendAddress]="backendAddress"
    [linepartConfiguration]="linepartConfiguration.lineparts"
    [highlighted]="highlighted"
    [styleDeclarations]="styleDeclarations"
    [selectiveStyleDeclarations]="selectiveStyleDeclarations"
    [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
    [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
  </app-joined-text-linepart>

  <app-joined-text-textwrapper
    *ngIf="linepartConfiguration.contentPropertyIri"
    [namespaces]="namespaces"
    [propertyIri]="linepartConfiguration.contentPropertyIri"
    [resource]="l"
    [highlighted]="highlighted"
    [styleDeclarations]="styleDeclarations"
    [selectiveStyleDeclarations]="selectiveStyleDeclarations">
  </app-joined-text-textwrapper>

</span><span *ngIf="linepartConfiguration.suffix">{{ linepartConfiguration.suffix }}</span>
