.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.barChartContainer {
  position: relative;
}

.barChartYaxis {
  position: absolute;
  float: left;
  z-index: 3;
}

.barChartChart {
  position: relative;
  overflow-x: auto;
}
