<div>
  <div [ngStyle]="{'width':'100%', 'height': '150px'}">
    <div [ngStyle]="{'float':'left'}">
      <div class="scaleBarChartWidth">
        <div class="scaleBarChartInput">
          <div [ngStyle]="{'font-weight':'bold'}">Chart width</div>
          <mat-form-field>
            <input matInput
                   type="number"
                   placeholder="Pixel"
                   [value]="this.chartWidth"
                   [(ngModel)]="this.newChartWidth"
                   (keyup)="reDrawBarChart()">
          </mat-form-field>
        </div>
        <div class="scaleBarChartSlider">
          <mat-slider
            min="150"
            max="{{ this.chartWidth * 4 }}"
            step="50"
            [value]="this.chartWidth"
            [(ngModel)]="this.newChartWidth"
            (change)="reDrawBarChart()"></mat-slider>
        </div>
      </div>
    </div>
    <div *ngIf="showRange" [ngStyle]="{'float':'left'}">
      <div class="selectBarChartRange" [ngStyle]="{'position':'relative', 'width': '100%', 'height': '100%'}">
        <div class="selectLowerRange" [ngStyle]="{'float':'left'}">
          <div>
            <div [innerHTML]="this.rangeLabel" [ngStyle]="{'font-weight':'bold'}"></div>
            <mat-form-field [ngStyle]="{'width':'80px', 'margin-right':'10px'}">
              <input matInput
                     placeholder="Lowest"
                     [value]="this.rangeLowest"
                     [(ngModel)]="this.newRangeLowest">
<!--                     (keyup)="reDrawBarChart()">-->
            </mat-form-field>
          </div>
        </div>
        <div class="selectUpperRange" [ngStyle]="{'float':'left'}">
          <div>
            <div [ngStyle]="{'font-weight':'bold'}">&nbsp;</div>
            <mat-form-field [ngStyle]="{'width':'80px', 'margin-left':'10px'}">
              <input matInput
                     placeholder="Highest"
                     [value]="this.rangeHighest"
                     [(ngModel)]="this.newRangeHighest">
              <!--                   (keyup)="reDrawBarChart()">-->
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button id="scaleBarChartButton" mat-button (click)="reDrawBarChart()">Update</button> -->
  <div class="barChartContainer">
    <div>
      <div class="barChartYaxis" id="{{ 'barChartYaxis_' + this.numberOfInitialisedComponent }}"></div>
      <div class="barChartChart" id="{{ 'barChartChart_' + this.numberOfInitialisedComponent }}"></div>
    </div>
  </div>

  <div class="sortBarChart"><mat-slide-toggle
    id="{{ 'sortChart_' + this.numberOfInitialisedComponent }}"
    [(ngModel)]="this.isSorted"
    (change)="reDrawBarChart()"
  >
    Sorted by value
  </mat-slide-toggle>
  </div>
</div>
