.bar {
  fill: #fdae61;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.barChartContainer {
  position: relative;
}

.barChartYaxis {
  position: absolute;
  float: left;
  z-index: 3;
}

.barChartChart {
  position: relative;
  overflow-x: auto;
}
/* tooltip */
.barChartTooltip {
  position: fixed;
  display: none;
  text-align: center;
  z-index: 4;
}

.barChartTooltipValue {

}


