<ul style="list-style-type: none; padding-inline-start: 0;" role="tree">
  <ng-container *ngFor="let c of children" >
    <app-hierarchical-navigation-node
      *ngIf="nodeConfiguration.children"
      [resource]="c"
      [backendAddress]="backendAddress"
      [nodeConfiguration]="nodeConfiguration.children"
      [pathMap]="pathMap"
      [routeKeys]="routeKeys"
      (pathChange)="processPathChange($event)">
    </app-hierarchical-navigation-node>
  </ng-container>
</ul>

<ng-container *ngIf="children">
  <button mat-button
          (click)="loadMoreChildren()"
          aria-label="load more"
          *ngIf="totalNumberOfChildren > children.length">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>
