<h2>Development View for Text</h2>

<app-text-line-group [textTree]="testData"></app-text-line-group>

<h3>Configurable line numbers</h3>

<app-text-line *ngFor="let v of [1,2,3,4,5,6,7,8,9]" [columnRatio]="[0,1,0,9,0,0,0]">
  <app-text-line-margin class="farleft" [backgroundColor]="'lightgray'">
    <app-text-line-number [lineNumber]="v"
                          [forceLabelAt]="[1]"
                          [repeatAfter]="4">
    </app-text-line-number>
  </app-text-line-margin>
  this is a line.
</app-text-line>
