<div *ngFor="let l of lines; let i = index" class="text-line-columns">

  <div class="text-line-column" [ngStyle]="getStyleDict('farfarleftStyleKeys', null)">
    <app-joined-text-margin
      *ngIf="lineConfiguration.farfarleft"
      [parentIri]="l['@id']"
      [backendAddress]="backendAddress"
      [marginConfiguration]="lineConfiguration.farfarleft"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-margin>
  </div>

  <div class="text-line-column" [ngStyle]="getStyleDict('farleftStyleKeys', null)">
    <app-joined-text-margin
      *ngIf="lineConfiguration.farleft"
      [parentIri]="l['@id']"
      [backendAddress]="backendAddress"
      [marginConfiguration]="lineConfiguration.farleft"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-margin>
  </div>

  <div class="text-line-column" [ngStyle]="getStyleDict('leftStyleKeys', null)">
    <app-joined-text-margin
      *ngIf="lineConfiguration.left"
      [parentIri]="l['@id']"
      [backendAddress]="backendAddress"
      [marginConfiguration]="lineConfiguration.left"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-margin>
  </div>

  <div class="text-line-column"
       [ngStyle]="getStyleDict('middleStyleKeys', l['@id'])"
       (click)="clickLine(l['@id'])"
       (mouseenter)="hoverOntoLine(l['@id'])"
       (mouseleave)="hoverOutOfLine()">
    <span *ngIf="lineConfiguration.prefix && i === 0"
          [ngStyle]="getStyleDict('prefixStyleKeys', null)"
          [innerHtml]="lineConfiguration.prefix"></span>
    <span *ngIf="lineConfiguration.interfix && i !== 0"
          [ngStyle]="getStyleDict('interfixStyleKeys', null)"
          [innerHtml]="lineConfiguration.interfix"></span>

    <app-joined-text-linepart
      *ngIf="lineConfiguration.lineparts"
      [parentIri]="l['@id']"
      [backendAddress]="backendAddress"
      [linepartConfiguration]="lineConfiguration.lineparts"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-linepart>

    <span *ngIf="lineConfiguration.interfix2 && i !== lines.length - 1"
          [ngStyle]="getStyleDict('interfix2StyleKeys', null)"
          [innerHtml]="lineConfiguration.interfix2"></span>
    <span *ngIf="lineConfiguration.suffix && i === lines.length - 1"
          [ngStyle]="getStyleDict('suffixStyleKeys', null)"
          [innerHtml]="lineConfiguration.suffix"></span>
  </div>


  <div class="text-line-column" [ngStyle]="getStyleDict('rightStyleKeys', null)">
    <app-joined-text-margin
      *ngIf="lineConfiguration.right"
      [parentIri]="l['@id']"
      [backendAddress]="backendAddress"
      [marginConfiguration]="lineConfiguration.right"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-margin>
  </div>

  <div class="text-line-column" [ngStyle]="getStyleDict('farrightStyleKeys', null)">
    <app-joined-text-margin
      *ngIf="lineConfiguration.farright"
      [parentIri]="l['@id']"
      [backendAddress]="backendAddress"
      [marginConfiguration]="lineConfiguration.farright"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-margin>
  </div>

  <div class="text-line-column" [ngStyle]="getStyleDict('farfarrightStyleKeys', null)">
    <app-joined-text-margin
      *ngIf="lineConfiguration.farfarright"
      [parentIri]="l['@id']"
      [backendAddress]="backendAddress"
      [marginConfiguration]="lineConfiguration.farfarright"
      [highlighted]="highlighted"
      [styleDeclarations]="styleDeclarations"
      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
      [clickedResource]="clickedResource" (clickedResourceChange)="clickChange($event)"
      [hoveredResource]="hoveredResource" (hoveredResourceChange)="hoverChange($event)">
    </app-joined-text-margin>
  </div>

</div>

