



  <popup #popup1 [title]="'Image Viewer 1'">
    <nie-image-frame class="draggable"
                     [image]="image"
                     width="500"
                     height="500">
    </nie-image-frame>
  </popup>
  <popup #popup2 [title]="'Image Viewer 2'">
    <nie-image-frame [image]="image"
                     width="500"
                     height="500">
    </nie-image-frame>
  </popup>


  <mat-drawer-container  align="end" style="height:100vh">
    <mat-drawer #drawer mode="side" align="end">
      <div>
        <button mat-button (click)="popup1.appear()">Image Viewer</button><br>

        <button mat-button (click)="popup2.appear()">Text Editor</button><br>


        <button mat-button (click)="popup1.appear()">Suche</button><br>
        <button mat-button (click)="popup2.appear()">......</button><br>

      </div>
    </mat-drawer>

    <div >
      <button type="button" mat-button (click)="drawer.toggle()">
        NIE-INE Apps
      </button>
    </div>

  </mat-drawer-container>
