
  <button md-button (click)="popup1.appear()">show popup 1</button>
  <button md-button (click)="popup2.appear()">show popup 2</button>


  <popup #popup1 [title]="'Image Viewer 1'">
    <nie-image-frame class="draggable"
                     [image]="image"
                     width="500"
                     height="500">
    </nie-image-frame>
  </popup>
  <popup #popup2 [title]="'Image Viewer 2'">
    <nie-image-frame [image]="image"
                     width="500"
                     height="500">
    </nie-image-frame>
  </popup>


