.text-object {
  position: absolute;
  border: 1px darkgrey solid;
  background-color:white;
  cursor:move;
  resize: both;
  overflow: auto;
}

.nightView {
  background-color: black;
  color: white;
}
