.text-object {
  position: absolute;
  border: 1px darkgrey solid;
  background-color: white;
  padding: 3px;
  cursor: move;
  resize: both;
  overflow: auto;
}

.night-view {
  background-color: black;
  color: white;
}
