
  <!-- Menu to open Apps-->
  <mat-drawer-container  style="height:100vh; margin-top: 30px;">
    <mat-drawer #drawer mode="side" >

        <h4 style="align-content: center">Your Page</h4>
        <button mat-button (click)="saveView()">Save Page</button>
        <button mat-button (click)="deleteView()">Delete Page</button><br>
        <button mat-button (click)="expandPanels()"> Fold or unfold App Description</button>

        <h4 style="align-content: center">Texts</h4>

        <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Text Viewer
            </mat-panel-title>
            <mat-panel-description>
              Displays searchable Text
            </mat-panel-description>
          </mat-expansion-panel-header>

          This app is under development. It displays searchable text which can be changed regarding the font size, the design.

          <mat-divider></mat-divider>

          <button mat-button (click)="addAnotherApp(appTypes[ 'textViewer' ].model, true)"><mat-icon>view_headline</mat-icon> Add Text Viewer</button><br>

        </mat-expansion-panel>

        <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Textlist Viewer
            </mat-panel-title>
            <mat-panel-description>
              Displays searchable Text
            </mat-panel-description>
          </mat-expansion-panel-header>

          This app can be combined with the data - chooser. A tutorial on how to use the data - chooser will follow.

          <mat-divider></mat-divider>

          <button mat-button (click)="addAnotherApp(appTypes[ 'textlistViewers' ].model, true)"><mat-icon>short_text</mat-icon>Add Textlist - Viewer</button><br>

        </mat-expansion-panel>

          <h4 style="align-content: center">Images</h4>

        <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >

          <mat-expansion-panel-header>
            <mat-panel-title>
              Image Viewer
            </mat-panel-title>
            <mat-panel-description>
              Display and zoom in images
            </mat-panel-description>
          </mat-expansion-panel-header>

          This app displays the image of your choice with the OpenSea - Dragon - Plugin. You can zoom in and have
          a look at it in fullscreen - mode. The link to the documentation follows soon.

          <mat-divider></mat-divider>

          <button mat-button (click)="addAnotherApp(appTypes[ 'imageViewer' ].model, true)" >
            <mat-icon >image</mat-icon>
            Add Image Viewer</button><br>

        </mat-expansion-panel>

        <h4 style="align-content: center">Searches</h4>

        <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Simple Full Text Search
            </mat-panel-title>
            <mat-panel-description>
              Search in all resources
            </mat-panel-description>
          </mat-expansion-panel-header>

          This app searches in all resources of your project and provides a simple output. It is still under development.

          <mat-divider></mat-divider>

          <button mat-button (click)="addAnotherApp(appTypes[ 'searchViewer' ].model, true)">
            <mat-icon >search</mat-icon>
            Add search Viewer
          </button><br>

        </mat-expansion-panel>

        <h4 style="align-content: center">Multimedia</h4>

        <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Synopsis Viewer
            </mat-panel-title>
            <mat-panel-description>
              Compare images and texts
            </mat-panel-description>
          </mat-expansion-panel-header>

          This app is under development. It has the functionality of a light - table and can compare image and text objects.
          It is currently working much better as an own window and can be opened as an own window <a href="/synopsis" target="_blank">here</a>.

          <mat-divider></mat-divider>

          <button mat-button (click)="addAnotherApp(appTypes[ 'synopsisViewer' ].model, true)"><mat-icon>art_track</mat-icon> Add Synopsis Viewer</button><br>
        </mat-expansion-panel>

        <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              GrapesJS
            </mat-panel-title>
            <mat-panel-description>
              Website building app
            </mat-panel-description>
          </mat-expansion-panel-header>

          This app is under development. It is a Website builder documented <a href="https://grapesjs.com/" target="_blank">here</a>. It is intended
          to create static parts of your niePage, with images, texts, etc.

          <mat-divider></mat-divider>

          <button mat-button (click)="addAnotherApp(appTypes[ 'grapesJSViewer' ].model, true)"><mat-icon>developer_board</mat-icon> Add GrapesJS </button>

        </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Data Chooser
          </mat-panel-title>
          <mat-panel-description>
            Define input Data for Apps
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app works with the Textlist - Viewer. A tutorial on how to use it will follow.

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(appTypes[ 'dataChooser' ].model, true)"><mat-icon>perm_data_setting</mat-icon> Add Data Chooser</button><br>

      </mat-expansion-panel>

      <h4 style="align-content: center">Data Visualisation</h4>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Bar Chart
          </mat-panel-title>
          <mat-panel-description>
            To define data with two dimensions
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(appTypes[ 'barCharts' ].model, true)"><mat-icon>bar_chart</mat-icon> Add Bar Chart</button><br>

      </mat-expansion-panel>

      <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Line Chart
          </mat-panel-title>
          <mat-panel-description>
            To define data with two dimensions
          </mat-panel-description>
        </mat-expansion-panel-header>

        This app is under development

        <mat-divider></mat-divider>

        <button mat-button (click)="addAnotherApp(appTypes[ 'lineCharts' ].model, true)"><mat-icon>show_chart</mat-icon> Add Line Chart</button><br>

      </mat-expansion-panel>


        <h4 style="align-content: center">Data Insertion</h4>

        <mat-expansion-panel style="width: 300px; margin-top: 10px;" [expanded]="panelsOpen" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Resource Creation
            </mat-panel-title>
            <mat-panel-description>
              For Knora
            </mat-panel-description>
          </mat-expansion-panel-header>

          With this app you can create and change data in Knora and see the history of given properties.

          <mat-divider></mat-divider>

          <button mat-button (click)="addAnotherApp(appTypes[ 'createResourceForm' ].model, true)"><mat-icon>add_to_queue</mat-icon> Add Creation Form</button>

        </mat-expansion-panel>

    </mat-drawer>

    <div >
      <button type="button" mat-button (click)="drawer.toggle()" matTooltip='{{ createTooltip() }}'>
        <mat-icon color="primary" >group_work</mat-icon>
      </button>
    </div>

    <!-- Image Viewer -->
    <div *ngFor="let imageViewer of appTypes[ 'imageViewer' ].model; let i = index;" >
      <popup #imageViewer
             [hash]="appTypes[ 'imageViewer' ].model[i].hash"
             [title]="'Image Viewer ' + i"
             [type]="appTypes[ 'imageViewer' ].type"
             [firstPopupX]="appTypes[ 'imageViewer' ].model[i].x"
             [firstPopupY]="appTypes[ 'imageViewer' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <nie-image-frame style="height: 100%;"
                         [image]="image"
                         width="500"
                         height="500">
        </nie-image-frame>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>image</mat-icon> {{ i }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="imageViewer.appear()">Open Image Viewer {{ i }}</button>
        <button mat-menu-item >Choose Image</button>
        <button mat-menu-item (click)=" closeApp( appTypes[ 'imageViewer' ].model, i ) ">Close this app</button>
      </mat-menu>
    </div>

    <!-- Search -->
    <div *ngFor="let search of appTypes[ 'searchViewer' ].model; let i = index;" >
      <popup #searchViewer
             [hash]="appTypes[ 'searchViewer' ].model[i].hash"
             [title]="'Search ' + i"
             [type]="appTypes[ 'searchViewer' ].type"
             [firstPopupX]="appTypes[ 'searchViewer' ].model[i].x"
             [firstPopupY]="appTypes[ 'searchViewer' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <nie-search
        style="height: 100%;">

        </nie-search>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>search</mat-icon> {{ i }} </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="searchViewer.appear()" >Open Search Viewer {{ i }}</button>
        <button mat-menu-item (click)=" closeApp( appTypes[ 'searchViewer' ].model, i ) ">Close this app</button>
      </mat-menu>
    </div>

    <!-- GrapesJS -->
    <div *ngFor="let grapesJS of appTypes[ 'grapesJSViewer' ].model; let i = index;" >
      <popup #grapesJSViewer
             [hash]="appTypes[ 'grapesJSViewer' ].model[i].hash"
             [title]="'GrapesJS ' + i"
             [type]="appTypes[ 'grapesJSViewer' ].type"
             [firstPopupX]="appTypes[ 'grapesJSViewer' ].model[i].x"
             [firstPopupY]="appTypes[ 'grapesJSViewer' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <div id="grapesJSViewer">Please drag this window to desired size and open other app. <br>
          ( Click for example on image view, this will cause the instantiation of  grapesjs as well. )<br>
        This is necessary because of a current bug.</div>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>developer_board</mat-icon> {{ i }} </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="grapesJSViewer.appear()" >Open GrapesJS Viewer {{ i }}</button><br>
        <button mat-menu-item (click)="closeApp( appTypes[ 'grapesJSViewer' ].model, i )">Close this app</button>
      </mat-menu>
    </div>

    <!-- TextViewer -->
    <div *ngFor="let textViewer of appTypes[ 'textViewer' ].model; let i = index;" >
      <popup #textViewer
             [hash]="appTypes[ 'textViewer' ].model[i].hash"
             [title]="'Text Viewer ' + i"
             [type]="appTypes[ 'textViewer' ].type"
             [firstPopupX]="appTypes[ 'textViewer' ].model[i].x"
             [firstPopupY]="appTypes[ 'textViewer' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <div style="max-width: 500px;">
          <app-text-view class="draggable">
          </app-text-view>
        </div>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>short_text</mat-icon> {{ i }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="textViewer.appear()" >Open Text Viewer {{ i }}</button>
        <button mat-menu-item (click)=" closeApp( appTypes[ 'textViewer' ].model, i ) ">Close this app</button>
        <button mat-menu-item>Choose Text</button>
      </mat-menu>

    </div>

    <!-- Synopsis -->
    <div *ngFor="let synopsisViewer of appTypes[ 'synopsisViewer' ].model; let i = index;" >
      <popup #synopsisViewer
             [hash]="appTypes[ 'synopsisViewer' ].model[i].hash"
             [title]="'Synopsis Viewer ' + i"
             [type]="appTypes[ 'synopsisViewer' ].type"
             [firstPopupX]="appTypes[ 'synopsisViewer' ].model[i].x"
             [firstPopupY]="appTypes[ 'synopsisViewer' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <div style="width: 900px; height: 400px;" >
          <app-synopsis style="position: sticky;">

          </app-synopsis>
        </div>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>art_track</mat-icon> {{ i }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="synopsisViewer.appear()" >Open Synopsis Viewer {{ i }}</button><br>
        <button mat-menu-item (click)=" closeApp( appTypes[ 'synopsisViewer' ].model, i ) ">Close this app</button>
      </mat-menu>

    </div>

    <!-- Resource Creation Form -->
    <div *ngFor="let createResourceForm of appTypes[ 'createResourceForm' ].model; let i = index;" >
      <popup #createResourceForm
             [hash]="appTypes[ 'createResourceForm' ].model[i].hash"
             [title]="'Resource Creation ' + i"
             [type]="appTypes[ 'createResourceForm' ].type"
             [firstPopupX]="appTypes[ 'createResourceForm' ].model[i].x"
             [firstPopupY]="appTypes[ 'createResourceForm' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <div style="width: 900px; height: 400px;" >
          <app-create-resource style="position: sticky;"
                               [projectIRI]="projectIRI"
                               (resourceIRI)="closeApp( appTypes[ 'createResourceForm' ].model, i )">
          </app-create-resource>
        </div>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>add_to_queue</mat-icon> {{ i }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="createResourceForm.appear()" >Open Create Resource Form {{ i }}</button>
        <button mat-menu-item (click)=" closeApp( appTypes[ 'createResourceForm' ].model, i ) ">Close this app</button>
      </mat-menu>

    </div>

    <!-- textlistViewers -->
    <div *ngFor="let createResourceForm of appTypes[ 'textlistViewers' ].model; let i = index;" >
      <popup #textlistViewers
             [hash]="appTypes[ 'textlistViewers' ].model[i].hash"
             [title]="'Textlist - Viewer ' + i"
             [type]="appTypes[ 'textlistViewers' ].type"
             [firstPopupX]="appTypes[ 'textlistViewers' ].model[i].x"
             [firstPopupY]="appTypes[ 'textlistViewers' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <div style="width: 300px; height: 200px;" >
          <app-textlist-viewer style="position: sticky;"
                               (resourceIRI)="closeApp( appTypes[ 'textlistViewers' ].model, i )"
                               [textToDisplay]="appTypes[ 'textlistViewers' ].model[i]['textlist']">
          </app-textlist-viewer>
        </div>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>view_headline</mat-icon> {{ i }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="textlistViewers.appear()" >Open Textlist Viewer {{ i }}</button>
        <button mat-menu-item (click)=" closeApp( appTypes[ 'textlistViewers' ].model, i ) ">Close this app</button>
      </mat-menu>
    </div>

    <!-- Data Chooser -->
    <div *ngFor="let dataChooser of appTypes[ 'dataChooser' ].model; let i = index;" >
      <popup #dataChooser
             [hash]="appTypes[ 'dataChooser' ].model[i].hash"
             [title]="'Data Chooser ' + i"
             [type]="appTypes[ 'dataChooser' ].type"
             [firstPopupX]="appTypes[ 'dataChooser' ].model[i].x"
             [firstPopupY]="appTypes[ 'dataChooser' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <div style="width: 600px; height: 50px;" >
          <app-data-chooser
            [viewModel] = "appTypes"
            (sendAppTypesBackToNIEOS)="updateAppTypesFromDataChooser($event)">>
          </app-data-chooser>
        </div>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>perm_data_setting</mat-icon> {{ i }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="dataChooser.appear()" >Open Data Chooser {{ i }}</button><
        <button mat-menu-item (click)=" closeApp( appTypes[ 'dataChooser' ].model, i ) ">Close this app</button>
      </mat-menu>

    </div>

    <!-- Bar Charts -->
    <div *ngFor="let barChart of appTypes[ 'barCharts' ].model; let i = index;" >
      <popup #barChart
             [hash]="appTypes[ 'barCharts' ].model[i].hash"
             [title]="'Bar Chart ' + i"
             [type]="appTypes[ 'barCharts' ].type"
             [firstPopupX]="appTypes[ 'barCharts' ].model[i].x"
             [firstPopupY]="appTypes[ 'barCharts' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <div >
          <app-bar-chart
            [initialised] = "appTypes[ 'barCharts' ].model[i].initialized"
            [numberOfInitialisedComponent] = " i " >

          </app-bar-chart>
        </div>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>bar_chart</mat-icon> {{ i }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="barChart.appear()" (click)="appTypes[ 'barCharts' ].model[i].initialized = true">Open Bar Chart {{ i }}</button>
        <button mat-menu-item (click)=" closeApp( appTypes[ 'barCharts' ].model, i ) ">Close this app</button>
      </mat-menu>

    </div>


    <!-- Line Charts -->
    <div *ngFor="let lineChart of appTypes[ 'lineCharts' ].model; let i = index;" >
      <popup #lineChart
             [hash]="appTypes[ 'lineCharts' ].model[i].hash"
             [title]="'Line Chart ' + i"
             [type]="appTypes[ 'lineCharts' ].type"
             [firstPopupX]="appTypes[ 'lineCharts' ].model[i].x"
             [firstPopupY]="appTypes[ 'lineCharts' ].model[i].y"
             (sendAppCoordinatesBack)="updateAppCoordinates($event)">
        <div >
          <app-multi-line-chart
            [initialised] = "appTypes[ 'lineCharts' ].model[i].initialized"
            [numberOfInitialisedComponent] = " i " >

          </app-multi-line-chart>
        </div>
      </popup>
      <button mat-button [matMenuTriggerFor]="menu" style="vertical-align: bottom;" ><mat-icon>show_chart</mat-icon> {{ i }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="lineChart.appear()" (click)="appTypes[ 'lineCharts' ].model[i].initialized = true">Open Line Chart {{ i }}</button>
        <button mat-menu-item (click)=" closeApp( appTypes[ 'lineCharts' ].model, i ) ">Close this app</button>
      </mat-menu>

    </div>


  </mat-drawer-container>
