<!--mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngFor="let child of items">
    <span *ngIf="child.subPages && child.subPages.length > 0">
      <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
        <span>{{child.page.title}}</span>
      </button>
      <app-menu-item #menu [items]="child.subPages"></app-menu-item>
    </span>
    <span *ngIf="(!child.subPages || child.subPages.length === 0) && child.page">
      <button mat-menu-item>
        <span>{{child.page.title}}</span>
      </button>
    </span>
  </span>
</mat-menu-->

<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
<span *ngFor="let child of items">
    <!-- Handle branch node menu items -->
    <span *ngIf="child.subPages && child.subPages.length > 0">
      <div class="button-row">
     <button mat-button  [mat-menu-trigger-for]="menu.childMenu"> <!--color="primary"-->
       {{child.page.title}}
      </button>
    </div>

      <app-menu-item #menu [items]="child.subPages"></app-menu-item>
    </span>
  <!-- Handle leaf node menu items -->
    <span *ngIf="(!child.subPages || child.subPages.length === 0) && child.page">
     <div class="button-row">
      <button mat-button  >
        {{child.page.title}}
      </button>
    </div>
    </span>
  </span>
</mat-menu>
