<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngIf="pages.length!=0">
    <span *ngFor="let child of pages">
    <!-- Handle branch node menu items -->
    <!--span *ngIf="child.subPages && child.subPages.length > 0"-->
      <button mat-menu-item color="primary" (click)="navigateToOtherView(child.page._id)" [matMenuTriggerFor]="submenu.menu" ><!--(mouseover)="setActionId()"-->
        <span>{{child.page.title}}</span>
      </button>
      <app-nested-menu [pageSet]="pageSet" [allPages]="allPages"[actionIDInput]="actionIDInput" [parentPage]="child.page" [pages]="child.subPages" [pageAsDemo]="pageAsDemo" [preview]="preview" [loggedIn]="loggedIn" #submenu="nestedMenu"> <!--(actionIDOutput)="setActionIdAsOutput($event)"-->
      </app-nested-menu>
      <!--app-menu-item #menu [items]="child.subPages"></app-menu-item-->
    </span>
      <!-- Handle leaf node menu items -->
    <!--span *ngIf="!child.subPages || child.subPages.length === 0">
      <button mat-menu-item>
        <span>{{child.page.title}}</span>
      </button>
    </span>
  </span-->
  </span>

  <mat-button-toggle-group
    name="fontStyle"
    *ngIf=" (!pageAsDemo) && !preview && loggedIn"
    style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">
    <mat-button-toggle  matTooltip="Add new page" (click)="addNewPage(parentPage)">
      <mat-icon>add</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="addDuplicatedPage()" matTooltip="Copy and add existing page">
      <mat-icon>file_copy</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle matTooltip="Link existing page" (click)="linkExistingPage()">
      <mat-icon>link</mat-icon>
    </mat-button-toggle>

  </mat-button-toggle-group>
</mat-menu>

