<h1 mat-dialog-title>Bearbeiten der Page Set</h1>
<form [formGroup]="form" (ngSubmit)="save()">
  <div class="col-md-6 col-md-offset-3">

    <mat-form-field class="full-width">
      <input formControlName="title" matInput>
      <mat-error>Titel muss eingegeben werden</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea formControlName="description" matInput></textarea>
      <mat-error>Beschreibung muss eingegeben werden</mat-error>
    </mat-form-field>

    <div>
      <button type="button" mat-button (click)="cancel()">Abbrechen</button>
      <button type="submit" mat-button [disabled]="form.invalid">Ok</button>
    </div>

  </div>
</form>
