<div style="width: 100%;" >
  <h3>
    Input
  </h3>

  <pre style="height: 10rem; width: 100%;">{{display | json}}</pre>
</div>

<div style=" width: 100%;" >
  <h3 >
    Python code
  </h3>

  <ace-editor class="url-extension"
              #editor
              style="min-height: 50rem; overflow: auto; width: 100%;"
              [mode]="'python'" (keyup)="updateCodeInLocalStorage()">
  </ace-editor>

  <button mat-button (click)="savePythonFile( true )" >
    Save Python Code and Update dependent apps
  </button>

</div>

<h3>
  Output:
</h3>

<button mat-button (click)="submitToMicroservice(  )">
  Submit
</button>

<div style="height: 20rem; width: 100%;">{{output | json}}</div>

