
<mat-tab-group (selectedTabChange)="tabClick($event)">
  <mat-tab label="Editor" >
    <p-editor
      [(ngModel)]="textFile"
      [style]="{'height':'320px'}"
      (keyup)="updateAce()"
      (click)="updateAce()" *ngIf="!hidden"></p-editor>

  </mat-tab>
  <mat-tab label="Code">
    <ace-editor #editor
                style="height: 320px; width:100%; overflow: auto;"
                [mode]="'html'" (keyup)="updatePrimeEditor()">
    </ace-editor>
  </mat-tab>
</mat-tab-group>

<button mat-button (click)="save()" *ngIf="route.snapshot.url[0].path !== 'home'" >Save Text and update Page</button>

<br>

<span style="margin-top: 10px; margin-bottom: 10px;">Output:</span>

<br>

<div [innerHtml]="safeHtml" ></div>


<!--<mat-form-field style="width: 100%; height: 500px">-->
<!--  <textarea [(ngModel)]="textFile" matInput name="textFile"></textarea>-->
<!--</mat-form-field>-->




