.image-object {
  //  cursor: move;
  min-width: 100%;
  min-height: 100%;
  resize: vertical;
}

.night-view {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.show-menu {
  right: 3px;
  top: 3px;
  position: absolute;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 4px;
}

.card-content {
  resize: vertical;
  border-bottom: 1px darkgray solid;
  overflow: auto;
}
