<mat-card class="image-object" [appModifiable]="data" [appDraggable]="data" (mouseenter)="showMenu = true"
          (mouseleave)="showMenu = false">
  <app-synopsis-object-toolbox class="show-menu" [uid]="data.uid" [rotateLeftButton]="false"
                               [rotateRightButton]="false" *ngIf="showMenu">
  </app-synopsis-object-toolbox>
  <mat-card-header>
    <mat-card-title>{{data.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <img [src]="data.src" draggable="false">
  </mat-card-content>
</mat-card>
