.image-object {
  border: 1px darkgrey solid;
  background-color: white;
  padding: 3px;
//  cursor: move;
  resize: vertical;
}

.night-view {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.show-menu {
  right: 3px;
  top: 3px;
  position: absolute;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 4px;
}
