<div class="drop-target">
  <mat-grid-list [cols]="columns" [gutterSize]="4">
    <mat-grid-tile appTileDropTarget (appDrop)="onDrop($event, i)"
                   *ngFor="let obj of synopsisObjects; let i = index;"
                   class="grid-tile">
      <ng-container [ngSwitch]="obj.dataType">
        <app-tiled-text-object *ngSwitchCase="synopsisObjectTypes.Text" [data]="obj"
                               style="min-width:100%"></app-tiled-text-object>
        <app-tiled-image-object *ngSwitchCase="synopsisObjectTypes.Image" [data]="obj" style="min-width:100%">
        </app-tiled-image-object>
      </ng-container>
    </mat-grid-tile>
    <mat-grid-tile appTileDropTarget (appDrop)="onDrop($event)" class="grid-tile" id="new-drop-zone" *ngIf="dragging">
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div id="container" [ngClass]="setColumns(columns)">
  <div class="tile"></div>
</div>
