

<mat-form-field appearance="fill">
  <mat-label>Prediction type</mat-label>
  <mat-select [(value)]="selectedPredictionType">
    <mat-option value="mean">Mean</mat-option>
    <mat-option value="median">Median</mat-option>
    <mat-option value="max">Max</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Base editor</mat-label>
  <mat-select [(value)]="selectedBaseEditor">
    <mat-option value="ABEmax">ABEmax</mat-option>
    <mat-option value="BE4">BE4</mat-option>
    <mat-option value="ABE8e">ABE8e</mat-option>
    <mat-option value="AID">AID</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Action</mat-label>
  <mat-select [(value)]="selectedAction">
    <mat-option value="download">Download prediction</mat-option>
    <mat-option value="plot">Plot sequences</mat-option>
  </mat-select>
</mat-form-field>

<button mat-button (click)="imgFileInput.click()">{{ !showSubmitButton ? 'Choose file' : 'Choose another file' }}</button>

<button mat-button (click)="submitFile()" *ngIf="showSubmitButton && !csvContainsTooManyLines">Submit {{ fileToUpload.name }} </button>

<input style="display: none;" type="file" #imgFileInput (change)="onFileChange($event.target.files)"/>

<span *ngIf="csvContainsTooManyLines" >Your csv contains too many lines</span>

<mat-tab-group mat-align-tabs="start" *ngIf="selectedAction === 'plot' && showSubmitButton">

  <mat-tab label="Plot Sequences">

    <div *ngIf="pathToFile && !fileHasChanged && !csvContainsTooManyLines">
      <h4> Result for {{ fileToUpload.name }} | {{ submittedBaseEditor }} | {{ submittedPredictionType }} </h4>

      <iframe  [src]= "pathToFile"  style="width: 100%; height: 600px;" ></iframe>
    </div>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search for sequences" #input>
    </mat-form-field>

    <div style="height: 400px!important; overflow: auto;">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  style="width: 100%;">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> All sequences </th>
          <td mat-cell *matCellDef="let element"> {{element.sequence}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
    </div>

  </mat-tab>
</mat-tab-group>


