<div style="margin-top: 40px; margin-left: 10px;">
  <h4>D3.js Tutorials Part 1</h4>
  <a href="https://www.youtube.com/watch?v=8imtXLY0F9g&list=PLEDbaVSIL58PGP65y3kkZse02s79BCbsp&index=2" target="_blank">Link to Youtube Video</a>
  <h5>Video 2 (adapted to Angular)</h5>
  <ol>
    <li>First Step: Select the svg in this component
      <!--<ace-editor-->
        <!--[text]="firstStep"-->
        <!--#editor-->
        <!--style="min-height: 50px; width:100%; overflow: auto;"-->
        <!--[mode]="'typescript'">-->

      <!--</ace-editor>-->
    </li>

    <li>
      Second Step: Assign width and height to canvas
    </li>

  </ol>

  <svg></svg>

</div>
