<mat-card class="text-object" [appModifiable]="data" [appDraggable]="data" (mouseenter)="showMenu = true" (mouseleave)="showMenu = false">
  <app-synopsis-object-toolbox [uid]="data.uid" [rotateRightButton]="false" [rotateLeftButton]="false" class="show-menu" *ngIf="showMenu">
  </app-synopsis-object-toolbox>
  <mat-card-header>
    <mat-card-title>{{data.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div [innerHtml]="safeHtml"></div>
  </mat-card-content>
</mat-card>
