<select [(ngModel)]="calendarSystem" (ngModelChange)="sendOutput()">
  <option value="GREGORIAN">Gregorian</option>
  <option value="JULIAN">Julian</option>
</select>

<select [(ngModel)]="era" (ngModelChange)="sendOutput()">
  <option value="CE">CE</option>
  <option value="BCE">BCE</option>
</select>

<input type="number" [(ngModel)]="year" (ngModelChange)="sendOutput()" /> 

<select [(ngModel)]="month" (ngModelChange)="sendOutput()">
  <option value="0">–</option>
  <option value="1">January</option>
  <option value="2">February</option>
  <option value="3">March</option>
  <option value="4">April</option>
  <option value="5">May</option>
  <option value="6">June</option>
  <option value="7">July</option>
  <option value="8">August</option>
  <option value="9">September</option>
  <option value="10">Oktober</option>
  <option value="11">November</option>
  <option value="12">December</option>
</select> 

<input type="number" min="0" max="31" [(ngModel)]="day" (ngModelChange)="sendOutput()" /> 

<input type="checkbox" [(ngModel)]="useRange" (ngModelChange)="changeRangeUsage()"/>date range

<ng-container *ngIf="useRange">
  
  <br />
  
  <select [(ngModel)]="endEra" (ngModelChange)="sendOutput()">
    <option value="CE">CE</option>
    <option value="BCE">BCE</option>
  </select>

  <input type="number" [(ngModel)]="endYear" (ngModelChange)="sendOutput()" /> 

  <select [(ngModel)]="endMonth" (ngModelChange)="sendOutput()">
    <option value="0">–</option>
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">Oktober</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select> 

  <input type="number" min="0" max="31" [(ngModel)]="endDay" (ngModelChange)="sendOutput()" /> 

</ng-container>