<div>
  <div class="legend_container">
    <div class="legend" id="{{ 'legend_' + this.numberOfInitialisedComponent }}">
    </div>
  </div>
  <div class="chart_container">
    <div class="yaxis" id="{{ 'yaxis_' + this.numberOfInitialisedComponent }}">
    </div>
    <div class="chart" id="{{ 'chart_' + this.numberOfInitialisedComponent }}">
    </div>
  </div>
</div>

<!--<div style="margin-top: 30px; align-content: center">-->

<!--  <div class="{{ generateComponentDivClass( 'groupedBarChartlegend' ) }}" width="600" height="200">-->
<!--  </div>-->

<!--  <div class="{{ generateComponentDivClass( 'groupedBarChart' ) }}" width="60000" height="500" style="overflow: auto">-->
<!--  </div>-->
<!--  <div *ngIf="mouseOverData.key !== undefined"-->
<!--       [ngStyle]="{'position': 'fixed', 'top': y + 'px', 'left': x + 'px'}">-->
<!--    {{ mouseOverData?.key + ', ' + mouseOverData?.value }}-->
<!--  </div>-->
<!--</div>-->
