<div style="margin-top: 30px; align-content: center">

  <div class="{{ generateComponentDivClass( 'groupedBarChartlegend' ) }}" width="600" height="200">
  </div>

<!--  <mat-form-field class="example-form-field">-->
<!--    <mat-label>Scale</mat-label>-->
<!--    <input matInput type="text" [(ngModel)]="width">-->
<!--    <button mat-button *ngIf="width" matSuffix mat-icon-button aria-label="Clear" (click)="drawD3( data.data, data.length * 100 )">-->
<!--      <mat-icon>close</mat-icon>-->
<!--    </button>-->
<!--  </mat-form-field>-->
<!--  <button mat-button (click)="drawD3( data.data, width )">-->
<!--    Scale Chart-->
<!--  </button>-->

  <div class="{{ generateComponentDivClass( 'groupedBarChart' ) }}" width="60000" height="500" style="overflow: auto">
  </div>
  <div *ngIf="mouseOverData.key !== undefined"
       [ngStyle]="{'position': 'fixed', 'top': y + 'px', 'left': x + 'px'}">
    {{ mouseOverData?.key + ', ' + mouseOverData?.value }}
  </div>
</div>
