<div *ngIf="resourceData">
  <span [innerHtml]="resourceData['rdfs:label']"></span>

  <ng-container *ngIf="internalMaxDepth > 0">
    <ul *ngFor="let key of propertyKeys">

      <!-- text values -->
      <li *ngIf="resourceData[key]['knora-api:textValueAsXml']">
        {{key}}:
        <app-knora-v2-viewer-innerhtml
          [htmlContent]="resourceData[key]['knora-api:textValueAsXml']"></app-knora-v2-viewer-innerhtml>
      </li>

      <li *ngIf="resourceData[key]['knora-api:textValueAsHtml']">
        {{key}}:
        <app-knora-v2-viewer-innerhtml
          [htmlContent]="resourceData[key]['knora-api:textValueAsHtml']"></app-knora-v2-viewer-innerhtml>
      </li>

      <li *ngIf="resourceData[key]['knora-api:ValueAsString']">
        {{key}}:
        <app-knora-v2-viewer-innerhtml
          [htmlContent]="resourceData[key]['knora-api:ValueAsString']"></app-knora-v2-viewer-innerhtml>
      </li>

      <!-- int value -->
      <li *ngIf="resourceData[key]['knora-api:ValueAsInt']">
        {{key}}:
        <app-knora-v2-viewer-innerhtml
          [htmlContent]="resourceData[key]['knora-api:ValueAsInt']"></app-knora-v2-viewer-innerhtml>
      </li>

      <!-- decimal value TODO -->

      <!-- uri value TODO -->

      <!-- date value TODO -->

      <!-- color value TODO -->

      <!-- hlist value TODO -->

      <!-- interval value TODO -->

   <!--   <li *ngIf="resourceData[key]['knora-api:linkValueHasTarget']">
        <h4>{{key}}</h4>
        <a [ngStyle]="{'background-color': hoveredResource === resourceData[key]['knora-api:linkValueHasTarget']['@id'] ? hoverColor: ''}"
           (mouseenter)="hoverOntoLink(resourceData[key]['knora-api:linkValueHasTarget']['@id'])"
           (mouseleave)="hoverOutOfLink()"
           (click)="clickTarget(resourceData[key]['knora-api:linkValueHasTarget']['@id'])">
          {{resourceData[key]['knora-api:linkValueHasTarget']['rdfs:label']}}
        </a>
      </li> -->

      <li *ngIf="resourceData[key]['knora-api:linkValueHasTarget']">
        {{key}}:
        <app-knora-v2-viewer
          [backendAddress]="backendAddress"
          [maxDepth]="internalMaxDepth - 1"
          [resourceIRI]="resourceData[key]['knora-api:linkValueHasTarget']['@id']"></app-knora-v2-viewer>
      </li>

    </ul>
  </ng-container>
</div>
