<div style="margin-top: 30px">
  <button mat-button (click)="save()">
    <mat-icon>save</mat-icon> Save
  </button>
  <button mat-button (click)="close()">
    <mat-icon>clear</mat-icon> Close
  </button>
</div>

<h5>App:</h5>
{{ dialogInput.app.type + ' ' + dialogInput.app.hash }}

<h5>Query Name:</h5>
{{ dialogInput.query.title }}

<h5>Chosen inputs:</h5>
<mat-chip-list *ngFor="let input of chosenInputs">
  <mat-chip (click)="mapWholeJsonToInput( input )" matTooltip='Click here to map the whole Response to this input'>
  {{ input }}
  </mat-chip>
  <span *ngIf="paths">
    <span *ngFor="let segment of paths[ input ]; let i = index;" style="display: inline-block">
      <button mat-button (click)="addEmpyPathSegment(input, i)" *ngIf="i === 0" matTooltip='add segment'> <mat-icon>add</mat-icon></button>
      <input #inputField matInput placeholder="{{segment}}" value="{{segment}}" style="width: 70px" (keyup)="updatePath( input, i, inputField.value )">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>arrow_right_alt</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-button (click)="deleteSegment(input, i)">
          delete path segment
        </button><br>
      <button mat-button (click)="addEmpyPathSegment(input, i + 1)">
        add path segment
      </button>
      </mat-menu>

    </span>

  </span>
</mat-chip-list>

<div *ngIf="abstractResponse" style="margin-top: 30px">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (click)="changeTreeInput( response )" [checked]="true" >Show tree with data</mat-button-toggle>
    <mat-button-toggle (click)="changeTreeInput( abstractResponse )">Show abstract tree structure</mat-button-toggle>
  </mat-button-toggle-group>

  <app-response-tree
    (sendMappingBackToQueryAppInputMap)="updateQueryAppInputMaping($event)"
    [chosenInputs]=chosenInputs
    [queryResponse]="tree" >
  </app-response-tree>

</div>
