<div style="margin-top: 20px; margin-left: 20px;">
  <form>
    <mat-form-field  style="width: 400px">
      <input matInput placeholder="Youtube URL" value="{{ videoURL }}" name="title" [(ngModel)]="videoURL" >
    </mat-form-field>
    <button mat-button (click)="setNewVideo()">Update</button>
    <mat-icon matTooltip='On youtube, click on share, then on embed to find the right url for the video that you would like to open in this app, then paste it in the form-field in this app and click on "Set new Video"'>help</mat-icon>
  </form>

  <iframe
    *ngIf="videoURL !== ''"
    width="560"
    height="315"
    [src]='safeURL'
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

</div>
