<div style="margin-top: 30px">
  <button mat-button (click)="close()">
    <mat-icon>clear</mat-icon> Close
  </button>
</div>

<mat-tab-group>
  <mat-tab label="{{ allPagesOfUser?.length }} own pages">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table *ngIf="pages !== undefined" mat-table [dataSource]="pages" style="width: 100%" >

      <ng-container matColumnDef="goToPage"  >
        <th mat-header-cell *matHeaderCellDef>Go to page</th>
        <td mat-cell *matCellDef="let item">
          <a target=”_blank” [routerLink]="['/page']" [queryParams]="{actionID: item.actionId, page: item._id }">
            <mat-icon>trending_up</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="actionTitle">
        <th mat-header-cell *matHeaderCellDef>inseri folio</th>
        <td mat-cell *matCellDef="let item">
          <div>{{item.actionTitle}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Canvas</th>
        <td mat-cell *matCellDef="let item">
          <div>{{item.title}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let item">
          <div>{{slice(item.description)}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="duplicate" *ngIf="data.showDuplicateButton">
        <th mat-header-cell *matHeaderCellDef  >Duplicate and add to this page</th>
        <td mat-cell *matCellDef="let item">
          <button mat-button mat-icon-button (click)="dialogRef.close( item._id )" ><mat-icon>add</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-tab>
  <mat-tab label="{{ publishedPagesLength }} published Pages">
    <table *ngIf="publishedPages !== undefined" mat-table [dataSource]="publishedPages" style="width: 100%" >

      <ng-container matColumnDef="goToPage"  >
        <th mat-header-cell *matHeaderCellDef>Go to page</th>
        <td mat-cell *matCellDef="let item">
          <a target=”_blank” [routerLink]="['/page']" [queryParams]="{actionID: item.actionId, page: item._id }">
            <mat-icon>trending_up</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="actionTitle">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Canvas</th>
        <td mat-cell *matCellDef="let item">
          <div>{{item.title}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let item">
          <div>{{slice(item.description)}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="duplicate" *ngIf="data.showDuplicateButton">
        <th mat-header-cell *matHeaderCellDef  >Duplicate and add to this page</th>
        <td mat-cell *matCellDef="let item">
          <button mat-button mat-icon-button (click)="dialogRef.close( item._id )" ><mat-icon>add</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-tab>
</mat-tab-group>



