<div>
  <app-text-svg-view [pageTree]="pageTree"
                   [clickedWord]="clickedWord" (clickedWordChange)="clickChange($event)"
                   [hoveredWord]="hoveredWord" (hoveredWordChange)="hoverChange($event)"
                     [viewerHeight]="viewerHeight"
                     [viewerWidth]="viewerWidth"
                   [showWords]="showWords"
                   [imageOpacity]="imageOpacity"
                   [showHighlightedWord]="showHighlightedWord"
                   [image]="image">
  </app-text-svg-view>
</div>
